Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

use default nuget restore
  Ix.NET/Source/NuGet.config
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

cleanup
  Ix.NET/Source/CodeCoverage.runsettings
Due: azure-pipelines.ix.yml

nuget feed
  Ix.NET/Source/NuGet.config
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Switch to VSTest integration for coverlet
  Ix.NET/Source/CodeCoverage.runsettings
  Ix.NET/Source/Directory.build.props
  Ix.NET/Source/Directory.build.targets
  Ix.NET/Source/NuGet.config
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/version.json
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Use Coverlet
  Rx.NET/Source/CodeCoverage.runsettings
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/NuGet.config
  Rx.NET/Source/global.json
  Rx.NET/Source/version.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

update filters
  Rx.NET/Integration/NuGet.Config
  Rx.NET/Source/CodeCoverage.runsettings
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Use Coverlet (#947)
  Rx.NET/Source/CodeCoverage.runsettings
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/NuGet.config
  Rx.NET/Source/global.json
  Rx.NET/Source/version.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

update to 4.6.1
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
Due: azure-pipelines.rx.yml

don't run both cc's
  Ix.NET/Source/CodeCoverage.runsettings
  Rx.NET/Source/CodeCoverage.runsettings
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

update api test
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Added docs sources
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix order of observer and resource disposal of the Using and Finally operator, reported in #829
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Finally.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Using.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/UsingTest.cs
Due: azure-pipelines.rx.yml

Save two allocations in the finally operator
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Finally.cs
Due: azure-pipelines.rx.yml

Test disposal order of Finally
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/FinallyTest.cs
Due: azure-pipelines.rx.yml

bump to 4.1.6
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

check exit code of sign tool
  Ix.NET/Source/build/Sign-Package.ps1
  Rx.NET/Source/build/Sign-Package.ps1
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

preview7
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

update task
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Don't emit framework reference on pack
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.targets
Due: azure-pipelines.rx.yml

Remove redundant default parameters
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

update sdk and deps for preview 8
  Ix.NET/Source/Directory.build.props
  Ix.NET/Source/NuGet.config
  Ix.NET/Source/version.json
  Rx.NET/Integration/NuGet.Config
  Rx.NET/Integration/global.json
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/NuGet.config
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

fix build
  .github/release-drafter.yml
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Remove codecov
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
  codecov.yml
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Update approved to include operators
  Rx.NET/Source/.gitignore
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Testing.approved.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update sort order
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.approved.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update to UseDotNet pipelines task
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Add multi level lookup on Windows to ensure 2.1 runtime is found
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Fix a number of nullable warnings.
  .editorconfig
  Ix.NET/Source/AsyncQueryableGenerator.t4
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.Generated.cs
  Ix.NET/Source/System.Interactive.Async.Tests/AsyncTests.Bugs.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Never.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/OnErrorResumeNext.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Timeout.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncEnumerableQuery.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncEnumerableRewriter.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.cs
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToLookup.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToObservable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerablePartition.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerator.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncListPartition.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Maybe.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/AppendPrepend.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/DefaultIfEmpty.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Lookup.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Reverse.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Fix a few more cases.
  Ix.NET/Source/FasterLinq/Program.cs
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Using.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Catch.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Memoize.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Publish.cs
  Ix.NET/Source/System.Interactive/System/Linq/Yielder.cs
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
Due: azure-pipelines.ix.yml

Remove duplicate test files.
  Ix.NET/Source/System.Interactive.Tests/BufferTest.cs
  Ix.NET/Source/System.Interactive.Tests/CaseTest.cs
  Ix.NET/Source/System.Interactive.Tests/CatchTest.cs
  Ix.NET/Source/System.Interactive.Tests/ConcatTest.cs
  Ix.NET/Source/System.Interactive.Tests/CreateTest.cs
  Ix.NET/Source/System.Interactive.Tests/DeferTest.cs
  Ix.NET/Source/System.Interactive.Tests/DistinctTest.cs
  Ix.NET/Source/System.Interactive.Tests/DistinctUntilChangedTest.cs
  Ix.NET/Source/System.Interactive.Tests/DoTest.cs
  Ix.NET/Source/System.Interactive.Tests/DoWhileTest.cs
  Ix.NET/Source/System.Interactive.Tests/ExpandTest.cs
  Ix.NET/Source/System.Interactive.Tests/FinallyTest.cs
  Ix.NET/Source/System.Interactive.Tests/ForEachTest.cs
  Ix.NET/Source/System.Interactive.Tests/ForTest.cs
  Ix.NET/Source/System.Interactive.Tests/GenerateTest.cs
  Ix.NET/Source/System.Interactive.Tests/HideTest.cs
  Ix.NET/Source/System.Interactive.Tests/IfTest.cs
  Ix.NET/Source/System.Interactive.Tests/IgnoreElementsTest.cs
  Ix.NET/Source/System.Interactive.Tests/IsEmptyTest.cs
  Ix.NET/Source/System.Interactive.Tests/MaxByTest.cs
  Ix.NET/Source/System.Interactive.Tests/MaxTest.cs
  Ix.NET/Source/System.Interactive.Tests/MemoizeTest.cs
  Ix.NET/Source/System.Interactive.Tests/MinByTest.cs
  Ix.NET/Source/System.Interactive.Tests/MinTest.cs
  Ix.NET/Source/System.Interactive.Tests/NopObserver.cs
  Ix.NET/Source/System.Interactive.Tests/OnErrorResumeNextTest.cs
  Ix.NET/Source/System.Interactive.Tests/PublishTest.cs
  Ix.NET/Source/System.Interactive.Tests/QueryableParityTest.cs
  Ix.NET/Source/System.Interactive.Tests/RepeatTest.cs
  Ix.NET/Source/System.Interactive.Tests/RetryTest.cs
  Ix.NET/Source/System.Interactive.Tests/ReturnTest.cs
  Ix.NET/Source/System.Interactive.Tests/ScanTest.cs
  Ix.NET/Source/System.Interactive.Tests/SelectManyTest.cs
  Ix.NET/Source/System.Interactive.Tests/ShareTest.cs
  Ix.NET/Source/System.Interactive.Tests/SkipLastTest.cs
  Ix.NET/Source/System.Interactive.Tests/StartWithTest.cs
  Ix.NET/Source/System.Interactive.Tests/TakeLastTest.cs
  Ix.NET/Source/System.Interactive.Tests/ThrowTest.cs
  Ix.NET/Source/System.Interactive.Tests/UsingTest.cs
  Ix.NET/Source/System.Interactive.Tests/WhileTest.cs
Due: azure-pipelines.ix.yml

Use C# 8.0 switch expression
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Count.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Single.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SingleOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
Due: azure-pipelines.ix.yml

Fix a few more warnings.
  Ix.NET/Source/Benchmarks.System.Interactive/BufferCountBenchmark.cs
  Ix.NET/Source/Benchmarks.System.Interactive/IgnoreElementsBenchmark.cs
  Ix.NET/Source/Benchmarks.System.Interactive/MinMaxBenchmark.cs
  Ix.NET/Source/System.Interactive.Providers/System/Linq/QueryableEx.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/DistinctUntilChanged.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Memoize.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/OnErrorResumeNext.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Publish.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Share.cs
  Ix.NET/Source/System.Interactive/System/Linq/RefCountList.cs
  Ix.NET/Source/System.Interactive/System/Linq/Yielder.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncEnumerableRewriter.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/AsyncEnumerableNamingTests.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SingleLinkedNode.cs
Due: azure-pipelines.ix.yml

Address a few minor IDE warnings.
  Ix.NET/Source/Benchmarks.System.Interactive/Program.cs
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/AssertEx.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Never.cs
  Ix.NET/Source/System.Interactive.Tests/AssertEx.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Publish.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/IgnoreElements.cs
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/AssertEx.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToObservable.cs
Due: azure-pipelines.ix.yml

Remove some uses of default(T).
  Rx.NET/Source/src/System.Reactive/Joins/Plan.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Aggregate.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Cast.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/CombineLatest.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Distinct.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/DistinctUntilChanged.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FromEvent.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FromEventPattern.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/GroupBy.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/GroupByUntil.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/GroupJoin.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Join.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/MaxBy.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/MinBy.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Select.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/SelectMany.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/WithLatestFrom.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Zip.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Async.cs
Due: azure-pipelines.rx.yml

Remove more redundant assignments.
  Rx.NET/Source/src/System.Reactive/Concurrency/CurrentThreadScheduler.cs
  Rx.NET/Source/src/System.Reactive/EventSource.cs
  Rx.NET/Source/src/System.Reactive/Internal/ExceptionHelper.cs
  Rx.NET/Source/src/System.Reactive/Internal/Helpers.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/AmbMany.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/AppendPrepend.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Case.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Contains.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FromEvent.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/GroupBy.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/GroupByUntil.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/If.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Max.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Min.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/SelectMany.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/SequenceEqual.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Zip.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Async.cs
  Rx.NET/Source/src/System.Reactive/Subjects/AsyncSubject.cs
  Rx.NET/Source/src/System.Reactive/Subjects/Subject.cs
Due: azure-pipelines.rx.yml

Bump version for release
  Ix.NET/Source/global.json
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

let version float
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

fix version.json
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

bump minor of Ix
  Ix.NET/Source/global.json
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml
