Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Fix typos in docs (v2) (#2263)
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none

Added a new overload for `.Synchronize()` utilizing System.Threading.Lock from .NET 9.
  Rx.NET/Source/Directory.Build.targets
  Rx.NET/Source/src/System.Reactive/Concurrency/Synchronization.Synchronize.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/Synchronization.cs
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Concurrency.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Concurrency.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/SynchronizationTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SynchronizeTest.cs
Due: azure-pipelines.rx.yml

Fix package build errors
  Rx.NET/Source/src/System.Reactive.Windows.Forms/System.Reactive.Windows.Forms.csproj
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
  Rx.NET/Source/src/System.Reactive.Wpf/System.Reactive.Wpf.csproj
  Rx.NET/Source/src/System.Reactive/ApiCompatSuppressions.xml
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Add readme files missed due to gitignore
  Rx.NET/Source/src/System.Reactive.Windows.Forms/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Wpf/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Update Windows integration tests package refs
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Fix package name error in preceding commit
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Further .NET 9.0 SDK updates
  .editorconfig
  Rx.NET/Source/CodeCoverage.runsettings
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Program.cs
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/TestConfiguration.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ObserveOnTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ResetExceptionDispatchStateTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SelectManyTest.cs
  azure-pipelines.rx.yml
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Update AsyncRx.NET to .NET 9.0 SDK
  azure-pipelines.asyncrx.yml
Due: azure-pipelines.asyncrx.yml

Fix bizarre errors about HttpResponse
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/AsyncEnumerableExTests.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/AsyncEnumerableTests.cs
Due: azure-pipelines.ix.yml

Further .NET 9.0 SDK updates (#2266)
  .editorconfig
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/AsyncEnumerableExTests.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/AsyncEnumerableTests.cs
  Rx.NET/Source/CodeCoverage.runsettings
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Program.cs
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/TestConfiguration.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ObserveOnTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ResetExceptionDispatchStateTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SelectManyTest.cs
  azure-pipelines.asyncrx.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Update Rx.NET to .NET 10 SDK
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FromEvent.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FromEventPattern.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Add .NET 9.0 install to CI
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update Rx.NET to .NET 10 SDK (#2267)
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FromEvent.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FromEventPattern.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Set version preview tag
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Remove legacy facade projects
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
  Rx.NET/Source/System.Reactive.sln
  Rx.NET/Source/facades/Directory.build.props
  Rx.NET/Source/facades/Directory.build.targets
  Rx.NET/Source/facades/GlobalAssemblyVersion.cs
  Rx.NET/Source/facades/NuGet.Facades.Readme.md
  Rx.NET/Source/facades/System.Reactive.Compatibility.nuspec
  Rx.NET/Source/facades/System.Reactive.Core/System.Reactive.Core.csproj
  Rx.NET/Source/facades/System.Reactive.Core/TypeForwarders.Core.cs
  Rx.NET/Source/facades/System.Reactive.Experimental/System.Reactive.Experimental.csproj
  Rx.NET/Source/facades/System.Reactive.Experimental/TypeForwarders.Experimental.cs
  Rx.NET/Source/facades/System.Reactive.Interfaces/System.Reactive.Interfaces.csproj
  Rx.NET/Source/facades/System.Reactive.Interfaces/TypeForwarders.Interfaces.cs
  Rx.NET/Source/facades/System.Reactive.Linq/System.Reactive.Linq.csproj
  Rx.NET/Source/facades/System.Reactive.Linq/TypeForwarders.Linq.cs
  Rx.NET/Source/facades/System.Reactive.PlatformServices/System.Reactive.PlatformServices.csproj
  Rx.NET/Source/facades/System.Reactive.PlatformServices/TypeForwarders.PlatformServices.cs
  Rx.NET/Source/facades/System.Reactive.Providers/System.Reactive.Providers.csproj
  Rx.NET/Source/facades/System.Reactive.Providers/TypeForwarders.Providers.cs
  Rx.NET/Source/facades/System.Reactive.Runtime.Remoting/System.Reactive.Runtime.Remoting.csproj
  Rx.NET/Source/facades/System.Reactive.Runtime.Remoting/TypeForwarders.Remoting.cs
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/System.Reactive.Windows.Threading.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/TypeForwarders.Threading.cs
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Don't publish a nupkg for MakeRefAssemblies
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Modify step added in previous commit to use pwsh
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Remove spurious old System.Reactive.For folders
  Rx.NET/Source/src/System.Reactive.For.Uwp/AsyncInfoExtensions.cs
  Rx.NET/Source/src/System.Reactive.For.Uwp/Stubs.cs
  Rx.NET/Source/src/System.Reactive.For.Uwp/System.Reactive.For.Uwp.csproj
  Rx.NET/Source/src/System.Reactive.For.Uwp/ThreadPoolTimerExtensions.cs
  Rx.NET/Source/src/System.Reactive.For.Uwp/UwpThreadPoolScheduler.cs
  Rx.NET/Source/src/System.Reactive.For.Uwp/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.For.WindowsForms/System.Reactive.For.WindowsForms.csproj
  Rx.NET/Source/src/System.Reactive.For.WindowsForms/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.For.WindowsRuntime.csproj
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.For.Wpf/System.Reactive.For.Wpf.csproj
  Rx.NET/Source/src/System.Reactive.For.Wpf/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Integration.WindowsForms/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Fix links to files that had been pointing to For.Uwp folder
  Rx.NET/Source/src/System.Reactive.MakeRefAssemblies/System.Reactive.MakeRefAssemblies.csproj
Due: azure-pipelines.rx.yml

Don't make NuGet package for analyzer assembly
  Rx.NET/Source/src/System.Reactive.Analyzers/System.Reactive.Analyzers.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/AppendPrependTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ObserveOnTest.cs
Due: azure-pipelines.rx.yml

Update various docs from back when we were going to demote System.Reactive
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
  Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Documentation/adr/0006-uwp-legacy-threadpoolscheduler-in-facade.md
  Rx.NET/Documentation/adr/0007-api-compatibility-verification.md
  Rx.NET/Source/src/System.Reactive.MakeRefAssemblies/System.Reactive.MakeRefAssemblies.csproj
  Rx.NET/Source/src/System.Reactive.Net/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive/ApiCompatSuppressions.xml
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
Due: azure-pipelines.rx.yml

Update release notes to reflect the packaging decisions
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
Due: none

Update package readmes
  Rx.NET/Source/src/System.Reactive.Wpf/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Fix typo in release notes
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
Due: none

Update package split ADR after read through
  Rx.NET/Documentation/adr/0005-package-split.md
Due: none

Remove some text that still referred to System.Reactive.For.*
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.resx
  Rx.NET/Source/src/System.Reactive.MakeRefAssemblies/System.Reactive.MakeRefAssemblies.csproj
  Rx.NET/Source/src/System.Reactive/Platforms/WinRT/Concurrency/ThreadPoolScheduler.Windows.cs
  Rx.NET/Source/src/System.Reactive/Properties/InternalsVisibleTo.cs
Due: azure-pipelines.rx.yml

Remove duplicate readme in System.Reactive.Observable.Aliases
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
Due: azure-pipelines.rx.yml

Remove spurious comma from filename
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/StableUncheckedCompositeDisposable.cs
Due: azure-pipelines.rx.yml

Remove spurious additional API compatbility suppression file
  Rx.NET/Source/src/System.Reactive/CompatibilitySuppressions.xml
Due: azure-pipelines.rx.yml

Revert unnecessary public AsyncLock Wait back to internal
  Rx.NET/Source/src/System.Reactive/Concurrency/AsyncLock.cs
Due: azure-pipelines.rx.yml

Fix comment that stated that we'd removed the UAP target
  Rx.NET/Source/src/System.Reactive/Concurrency/Scheduler.Services.Emulation.cs
Due: azure-pipelines.rx.yml

Fix types in ADRs and release notes
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
  Rx.NET/Documentation/adr/0006-uwp-legacy-threadpoolscheduler-in-facade.md
  Rx.NET/Documentation/adr/0007-api-compatibility-verification.md
Due: none

Add comment acknowledging slight size increase, and how trimming mitigates this
  Rx.NET/Documentation/adr/0005-package-split.md
Due: none

Fix typos spotted by Copilot
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
  Rx.NET/Source/src/System.Reactive.Wpf/System.Reactive.Linq/DispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive/Internal/HostLifecycleService.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update VS 2022 ref to VS 2026
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
Due: azure-pipelines.rx.yml

Add v7 release notes and NuGet readme for System.Linq.Async
  Ix.NET/Documentation/ReleaseHistory/Ix.v7.md
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/build/NuGet.Readme.md
Due: azure-pipelines.ix.yml

Fix discrepancies in Obsolete attributes
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/All.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderedAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Revert IX.NET TFMs in all but System.Linq.Async
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderedAsyncEnumerable.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractive.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsyncProviders.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveProviders.verified.cs
  Ix.NET/Source/refs/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/refs/System.Interactive/System.Interactive.csproj
Due: azure-pipelines.ix.yml

Add link for info about System.Linq,AsyncEnumerable
  Ix.NET/Documentation/ReleaseHistory/Ix.v7.md
Due: none
