Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.ix.yml:
  pool:
    vmImage: windows-2019
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core SDK 3.x
    inputs:
      version: 3.0.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  ...

azure-pipelines.rx.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-2019
    variables:
      BuildConfiguration: Release
      BuildPlatform: Any CPU
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    steps:
    - task: UseDotNet@2
      inputs:
        version: 3.0.x
        includePreviewVersions: true
  ...

Use SerialDisposableValue where straightforward.
  Rx.NET/Source/src/System.Reactive/Concurrency/EventLoopScheduler.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/TaskPoolScheduler.cs
  Rx.NET/Source/src/System.Reactive/Internal/ScheduledObserver.cs
  Rx.NET/Source/src/System.Reactive/Internal/SystemClock.Default.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Buffer.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Switch.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Throttle.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Timeout.cs
Due: azure-pipelines.rx.yml

Replace more usages of Disposable.Utils.
  Rx.NET/Source/src/System.Reactive/Concurrency/DefaultScheduler.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/Scheduler.Services.Emulation.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/TaskPoolScheduler.cs
  Rx.NET/Source/src/System.Reactive/Disposables/StableCompositeDisposable.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/AppendPrepend.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/GetEnumerator.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/SkipUntil.cs
Due: azure-pipelines.rx.yml

Rename field.
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RepeatWhen.cs
Due: azure-pipelines.rx.yml

Remove usage of Disposable.Utils.SetSingle.
  Rx.NET/Source/src/System.Reactive/Disposables/Disposable.Utils.cs
  Rx.NET/Source/src/System.Reactive/Disposables/SingleAssignmentDisposableValue.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/TakeLast.cs
Due: azure-pipelines.rx.yml

Inline GetIsDisposed.
  Rx.NET/Source/src/System.Reactive/Disposables/Disposable.Utils.cs
  Rx.NET/Source/src/System.Reactive/Disposables/MultipleAssignmentDisposableValue.cs
  Rx.NET/Source/src/System.Reactive/Disposables/SerialDisposableValue.cs
  Rx.NET/Source/src/System.Reactive/Disposables/SingleAssignmentDisposableValue.cs
Due: azure-pipelines.rx.yml

Change signature of Observable.FirstOrDefaultAsync to a IObservable<TSource?> return type.
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Aggregates.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FirstOrDefaultAsync.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Aggregates.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Add TrySetFirst to SerialDisposableValue. More usages of SerialDisposableValue are now possible.
  Rx.NET/Source/src/System.Reactive/Concurrency/Synchronization.cs
  Rx.NET/Source/src/System.Reactive/Disposables/SerialDisposableValue.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/AppendPrepend.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Catch.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Delay.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Timeout.cs
Due: azure-pipelines.rx.yml

Add TrySetFirst to MultiDisposableValue. More usages of MultiDisposableValue are now possible.
  Rx.NET/Source/src/System.Reactive/Concurrency/EventLoopScheduler.cs
  Rx.NET/Source/src/System.Reactive/Disposables/MultipleAssignmentDisposableValue.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Range.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Repeat.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/TakeLast.cs
Due: azure-pipelines.rx.yml

Parity for Qbservable.
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Change signature of Observable.DefaultIfEmpty to a IObservable<TSource?> return type.
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.StandardSequenceOperators.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/DefaultIfEmpty.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.StandardSequenceOperators.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

SingleOrDefaultAsync.
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Aggregates.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/SingleOrDefaultAsync.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Aggregates.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Implement Bart's review.
  Rx.NET/Source/src/System.Reactive/Disposables/Disposable.Utils.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/DefaultIfEmpty.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.StandardSequenceOperators.cs
Due: azure-pipelines.rx.yml

LastOrDefaultAsync
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Aggregates.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/LastOrDefaultAsync.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Aggregates.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

ElementAtOrDefault
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Aggregates.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/ElementAtOrDefault.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Aggregates.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Review.
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.StandardSequenceOperators.cs
Due: azure-pipelines.rx.yml

AsyncEnumerable.SingleOrDefault*Async: Fix signature for nullable.
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SingleOrDefault.cs
Due: azure-pipelines.ix.yml

AsyncEnumerable.FirstOrDefault*Async: Fix signature for nullable.
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/FirstOrDefault.cs
Due: azure-pipelines.ix.yml

AsyncEnumerable.LastOrDefault*Async: Fix signature for nullable.
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LastOrDefault.cs
Due: azure-pipelines.ix.yml

AsyncEnumerable.ElementAtOrDefault*Async: Fix signature for nullable.
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ElementAtOrDefault.cs
Due: azure-pipelines.ix.yml

Fix ApiApprovalTests after automatic bump of Verify.
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
Due: azure-pipelines.rx.yml

Fix the build
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
Due: azure-pipelines.rx.yml

Fix a bunch of NRT warnings.
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
Due: azure-pipelines.rx.yml

Fix one more warnings
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Linq/AsyncInfoObservable.cs
Due: azure-pipelines.rx.yml

build with final sdk
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

set arch
  Ix.NET/Source/version.json
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

use sh
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

invoke bash
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

use task
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

build with final sdk
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

fix build
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

remove preview tag
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

use task
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

set ver
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

float ver
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

float ver
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

update ver
  Ix.NET/Source/version.json
  Rx.NET/Source/version.json
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Add build error to help users know they need to retarget to latest
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.net5.0-windows.targets
Due: azure-pipelines.rx.yml

Added reactive libraries for Redux.NET
  Redux.NET/Action.cs
  Redux.NET/EffectAttribute.cs
  Redux.NET/IReducer.cs
  Redux.NET/IStore.cs
  Redux.NET/README.md
  Redux.NET/ReducerExtensions.cs
  Redux.NET/Redux.NET.csproj
  Redux.NET/ReflectionExtensions.cs
  Redux.NET/SideEffects.cs
  Redux.NET/Store.cs
  Redux.NET/StoreExtensions.cs
  Redux.NET/SwapVisitor.cs
Due: none

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
