Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Ix.NET v7 release prep (#2274)
  Ix.NET/Documentation/ReleaseHistory/Ix.v7.md
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/All.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderedAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/System.Linq.Async/build/NuGet.Readme.md
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractive.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsyncProviders.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveProviders.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
  Ix.NET/Source/refs/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/refs/System.Interactive/System.Interactive.csproj
Due: azure-pipelines.ix.yml

Update System.Linq.AsyncEnumerable refs to .NET 10 GA
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Update System.Linq.AsyncEnumerable refs to .NET 10 GA (#2275)
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Add missing AverageAsync overloads supporting async selectors
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
Due: azure-pipelines.ix.yml

Add missing AverageAsync overloads supporting async selectors (#2278)
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
Due: azure-pipelines.ix.yml

Fix System.Interactive.Async clashes with System.Linq.AsyncEnumerable
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/AsyncQueryableGenerator.t4
  Ix.NET/Source/Benchmarks.System.Interactive/Benchmarks.System.Interactive.csproj
  Ix.NET/Source/FasterLinq/FasterLinq.csproj
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.Generated.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/MaxByWithTies.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/MinByWithTies.cs
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MaxByWithTies.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MinByWithTies.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsyncProviders.verified.cs
  Ix.NET/Source/refs/System.Interactive.Async/System.Interactive.Async.csproj
Due: azure-pipelines.ix.yml

Make refs building more selective
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Try a different way to fix ref packaging
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Update ADR
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
Due: none

Handle clashes in `System.Interactive.Async` with `System.Linq.Asyncenumerable` (#2280)
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/AsyncQueryableGenerator.t4
  Ix.NET/Source/Benchmarks.System.Interactive/Benchmarks.System.Interactive.csproj
  Ix.NET/Source/FasterLinq/FasterLinq.csproj
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.Generated.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/MaxByWithTies.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/MinByWithTies.cs
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MaxByWithTies.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MinByWithTies.cs
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsyncProviders.verified.cs
  Ix.NET/Source/refs/System.Interactive.Async/System.Interactive.Async.csproj
Due: azure-pipelines.ix.yml

Obsolete messages now tell you when your async callback will need a new signature
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Obsolete messages now tell you when your async callback will need a new signature (#2286)
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Hide projecting SumAsync in System.Linq.Async because it now lives in System.Interactive.Async
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/AsAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Task.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToObservable.cs
Due: azure-pipelines.ix.yml

Add SumAsync with projection overloads to System.Interactive.Async
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Sum.cs
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Move projection SumAsync to System.Interactive.Async (#2289)
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Sum.cs
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/AsAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Task.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToObservable.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Fix typos in ADR
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
Due: none

Fix typos in comments
  Ix.NET/Source/System.Interactive.Async/System/Linq/AsyncEnumerableEx.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToLookup.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
Due: azure-pipelines.ix.yml

Fix typo in ADR
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
Due: none

Generate AsyncEnumerableDeprecated facade in runtime assembly
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
  Ix.NET/Source/Playground/Program.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/DeprecatedDuplicateBuilder.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/SyntaxReceiver.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/System.Linq.Async.SourceGenerator.csproj
  Ix.NET/Source/System.Linq.Async/EnableDeprecationFacadeInRuntimeAssembly.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Fix mistake in which the generated async overloads were using the internal name where they should have used the rewritten public name.
  Ix.NET/Source/System.Linq.Async.SourceGenerator/DeprecatedDuplicateBuilder.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Fix bug causing non-generated methods to be omitted
  Ix.NET/Source/System.Linq.Async.SourceGenerator/DeprecatedDuplicateBuilder.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Generate AsyncEnumerableDeprecated facade in runtime assembly (#2293)
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
  Ix.NET/Source/Playground/Program.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/DeprecatedDuplicateBuilder.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/SyntaxReceiver.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/System.Linq.Async.SourceGenerator.csproj
  Ix.NET/Source/System.Linq.Async/EnableDeprecationFacadeInRuntimeAssembly.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Set version to '7.0.0'
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Clarify LINQ syntax explanation in documentation
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
Due: none

fix stack traces from errors in ToAsyncEnumerable
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
Due: azure-pipelines.ix.yml

Full stack traces from errors in ToAsyncEnumerable (#2302)
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
Due: azure-pipelines.ix.yml

Update test packages and get tests running
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/System.Reactive.Analyzers.Test.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/ControlSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/DispatcherSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/SchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/TaskPoolSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ObserveOnTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SubscribeOnTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/QbservableTest.cs
Due: azure-pipelines.rx.yml

Backing out the unnecessary delegating host lifecycle services
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Concurrency/WindowsRuntimeThreadPoolScheduler.cs
  Rx.NET/Source/src/System.Reactive/Internal/HostLifecycleService.cs
Due: azure-pipelines.rx.yml

Upgrade xunit packages to v3, and move to MSTest where xunit causes problems
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/SystemClockTest.cs
Due: azure-pipelines.rx.yml

Add Aliases for integration packages in WindowsDesktopTests
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Update Verify.MSTest to 31.13.1
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update PublicApiGenerator to 11.5.4
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Align with coverlet.collector 8.0.0 across all projects
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Take non-urgent minor updates
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
Due: azure-pipelines.rx.yml

Update BenchmarkDotNet to 0.15.8
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Upgrade Microsoft.CodeAnalysis.CSharp to 5.0.0
  Rx.NET/Source/src/System.Reactive.Analyzers/System.Reactive.Analyzers.csproj
Due: azure-pipelines.rx.yml

Upgrade git versioning packages
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml
