Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.asyncrx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 8.0.x SDK
        inputs:
  ...

azure-pipelines.ix.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 6.x SDK
        inputs:
          version: 6.x
      - task: UseDotNet@2
        displayName: .NET Core 5.0 runtime
        inputs:
          version: 5.0.x
  ...

azure-pipelines.rx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 9.0.x SDK
        inputs:
  ...

Deal with new diagnostic messages in 9.0.300 SDK.
  Rx.NET/Source/.editorconfig
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/src/System.Reactive/Concurrency/TaskPoolScheduler.cs
  Rx.NET/Source/tests/Tests.System.Reactive/TaskErrorObservation.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/TaskPoolSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/DoTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SubscribeTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/ObserverTest.cs
Due: azure-pipelines.rx.yml

More code style tweaks
  Rx.NET/Source/.editorconfig
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

Another diagnostic message fix
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

Update UAP targets ADR
  Rx.NET/Documentation/adr/0003-uap-targets.md
Due: none

Fix typo in comment
  Rx.NET/Source/src/System.Reactive/Notification.cs
Due: azure-pipelines.rx.yml

Update Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Documentation/adr/0003-uap-targets.md
Due: none

More doc improvements after feedback
  Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
Due: azure-pipelines.rx.yml

Update xunit.assert.source to 2.8.1 and remove workaround
  Rx.NET/Source/src/Microsoft.Reactive.Testing/IAssertionException.cs
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
Due: azure-pipelines.rx.yml

Use new sign tool (#2167)
  azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Remove netcoreapp3.1 from tests
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/NetCore31TestReadme.txt
  Ix.NET/Source/NetStandard21TestReadme.txt
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/DefaultIfEmpty.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/OrderBy.Generated.cs
Due: azure-pipelines.ix.yml

Put build agent back to Windows
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Fix nbgc command line for Windows
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Another path fix for Windows build agent
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Fix Ix.NET build break on Ubuntu 24 (#2209)
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/NetCore31TestReadme.txt
  Ix.NET/Source/NetStandard21TestReadme.txt
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/DefaultIfEmpty.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/OrderBy.Generated.cs
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Avoid spurious references to Microsoft.Bcl.AsyncInterfaces (#1719)
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Fix Union Dispose bug #2112 (#2131)
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Union.cs
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
  Ix.NET/Source/refs/System.Interactive.Providers.Ref/System.Interactive.Providers.csproj
  Ix.NET/Source/refs/System.Interactive.Ref/System.Interactive.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.csproj
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Use new sign tool
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Fix YAML from previous commit
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Adjust version offset
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Adjust version offset again!
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

This time, remember to take into account the new commit that bumps the offset!
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Arg - we actually wanted it to be 6.0.2
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Fixes required now MSBuild.Extras.SDK has gone
  Rx.NET/Source/src/System.Reactive.For.Uwp/Strings_PlatformServices.Designer.cs
  Rx.NET/Source/src/System.Reactive.For.Uwp/System.Reactive.For.Uwp.csproj
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.For.WindowsRuntime.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

WIP going back to old types, relocated
  Rx.NET/Source/facades/System.Reactive/Obsolete/Desktop/Concurrency/ControlScheduler.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/Desktop/Linq/ControlObservable.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Concurrency/CoreDispatcherScheduler.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Concurrency/ThreadPoolScheduler.Windows.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/EventPatternSource.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Foundation/AsyncInfoExtensions.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Foundation/AsyncInfoToObservableBridge.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/IEventPatternSource.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Linq/AsyncInfoObservable.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Linq/CoreDispatcherObservable.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Linq/WindowsObservable.StandardSequenceOperators.cs
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/facades/System.Reactive/System/Reactive.cs
  Rx.NET/Source/facades/System.Reactive/System/Reactive/Concurrency.cs
  Rx.NET/Source/facades/System.Reactive/System/Reactive/Linq.cs
  Rx.NET/Source/facades/System.Reactive/System/Reactive/Windows/Foundation.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsForms/ControlScheduler.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsForms/System.Reactive.Linq/ControlObservable.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/AsyncInfoObservableExtensions.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/CoreDispatcherScheduler.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/EventPatternSource.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/IEventPatternSource.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/StableCompositeDisposable.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.Linq/AsyncInfoObservable.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.Linq/CoreDispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.Linq/WindowsObservable.Events.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.Linq/WindowsObservable.StandardSequenceOperators.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.Linq/WindowsRuntimeObservable.Events.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/ThreadPoolTimerExtensions.cs
  Rx.NET/Source/src/System.Reactive.Net/Properties/InternalsVisibleTo.cs
  Rx.NET/Source/src/System.Reactive.Net/System.Reactive.Net.csproj
Due: azure-pipelines.rx.yml

Finish unobsoleting most of the UI support types
  .editorconfig
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/facades/System.Reactive/GlobalUsings.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/Desktop/Concurrency/DispatcherScheduler.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/Windows/Strings_WindowsThreading.Designer.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/Windows/Strings_WindowsThreading.resx
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive.For.Uwp/ThreadPoolTimerExtensions.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/AsyncInfoExtensions.cs
  Rx.NET/Source/src/System.Reactive.For.Wpf/Constants.cs
  Rx.NET/Source/src/System.Reactive.For.Wpf/DispatcherScheduler.cs
  Rx.NET/Source/src/System.Reactive.For.Wpf/System.Reactive.Linq/DispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive.For.Wpf/System.Reactive.Linq/WpfDispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive.Net/Linq/Observable.Multiple.CombineLatest.cs
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/ControlSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/DispatcherSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/SchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Internal/HalfSerializerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ObserveOnTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SubscribeOnTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/QbservableTest.cs
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Change SDK file ref to a version available on the build agent
  Rx.NET/Source/src/System.Reactive.For.Uwp/System.Reactive.For.Uwp.csproj
Due: azure-pipelines.rx.yml

Reinstate NuGet readme
  Rx.NET/Source/src/System.Reactive.Net/System.Reactive.Net.csproj
  Rx.NET/Source/src/System.Reactive.Net/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Replace net6.0 with net8.0
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.For.WindowsForms/System.Reactive.For.WindowsForms.csproj
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.For.WindowsRuntime.csproj
  Rx.NET/Source/src/System.Reactive.For.Wpf/System.Reactive.For.Wpf.csproj
  Rx.NET/Source/src/System.Reactive.Net/System.Reactive.Net.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Remove uap10.0.18362 from non-legacy components
  Rx.NET/Source/facades/System.Reactive.Core/System.Reactive.Core.csproj
  Rx.NET/Source/facades/System.Reactive.Interfaces/System.Reactive.Interfaces.csproj
  Rx.NET/Source/facades/System.Reactive.Linq/System.Reactive.Linq.csproj
  Rx.NET/Source/facades/System.Reactive.PlatformServices/System.Reactive.PlatformServices.csproj
  Rx.NET/Source/facades/System.Reactive.Providers/System.Reactive.Providers.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/System.Reactive.Windows.Threading.csproj
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Concurrency/ThreadPoolScheduler.Windows.cs
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.For.Uwp/System.Reactive.For.Uwp.csproj
  Rx.NET/Source/src/System.Reactive.For.Uwp/UwpThreadPoolScheduler.cs
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.For.WindowsRuntime.csproj
  Rx.NET/Source/src/System.Reactive.Net/Concurrency/ISchedulerPeriodNoSubMs.cs
  Rx.NET/Source/src/System.Reactive.Net/Concurrency/Scheduler.Services.Emulation.cs
  Rx.NET/Source/src/System.Reactive.Net/Internal/HostLifecycleService.cs
  Rx.NET/Source/src/System.Reactive.Net/Properties/InternalsVisibleTo.cs
  Rx.NET/Source/src/System.Reactive.Net/System.Reactive.Net.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
Due: azure-pipelines.rx.yml

Use .NET SDK PackageValidation for System.Reactive API compatibility check. Initial ADR drafts
  Rx.NET/Documentation/adr/0004-package-split.md
  Rx.NET/Documentation/adr/0005-uwp-legacy-threadpoolscheduler-in-facade.md
  Rx.NET/Documentation/adr/0006-api-compatibility-verification.md
  Rx.NET/Source/facades/System.Reactive/ApiCompatSuppressions.xml
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/facades/System.Reactive/System/Reactive/Concurrency.cs
  Rx.NET/Source/facades/System.Reactive/System/Reactive/Linq.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Use Microsoft.CodeAnalysis.PublicApiAnalyzers in System.Reactive.Net
  Rx.NET/Source/src/System.Reactive.Net/.PublicApi/PublicAPI.Shipped.txt
  Rx.NET/Source/src/System.Reactive.Net/.PublicApi/PublicAPI.Unshipped.txt
  Rx.NET/Source/src/System.Reactive.Net/Joins/Pattern.Generated.cs
  Rx.NET/Source/src/System.Reactive.Net/Joins/Pattern.tt
  Rx.NET/Source/src/System.Reactive.Net/Joins/QueryablePattern.Generated.cs
  Rx.NET/Source/src/System.Reactive.Net/Joins/QueryablePattern.tt
  Rx.NET/Source/src/System.Reactive.Net/Linq/QbservableEx.Generated.cs
  Rx.NET/Source/src/System.Reactive.Net/System.Reactive.Net.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Aliases.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Facade.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Testing.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
Due: azure-pipelines.rx.yml

Add missing package validation suppressions
  Rx.NET/Source/facades/System.Reactive/ApiCompatSuppressions.xml
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Remove unneeded SuppressTfmSupportBuildWarnings
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update target framework versions in integration test projects
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Make Windows integration test WPF/WinForms package refs conditional on a windows TFM
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
