Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.ix.yml:
  pool:
    vmImage: windows-2019
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core SDK 3.x
    inputs:
      version: 3.0.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  ...

azure-pipelines.rx.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-2019
    variables:
      BuildConfiguration: Release
      BuildPlatform: Any CPU
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    steps:
    - task: UseDotNet@2
      inputs:
        version: 3.0.x
        includePreviewVersions: true
  ...

Use final BCL interfaces
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
Due: azure-pipelines.ix.yml

float version
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Fix delay(selector) NPE on immediate emissions
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Delay.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/DelayTest.cs
Due: azure-pipelines.rx.yml

Split signing into separate stage
  Rx.NET/Source/build/Sign-Package.ps1
  Rx.NET/Source/build/appsettings.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Remove explicit SDK version
  Rx.NET/Source/global.json
Due: azure-pipelines.rx.yml

Change pool
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

update pool
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

add missing file
  Rx.NET/Source/build/signclient.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

remove copy step
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

restore condition
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Split signing into separate stage (#1055)
  Rx.NET/Source/build/Sign-Package.ps1
  Rx.NET/Source/build/signclient.json
  Rx.NET/Source/global.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update README.md
  README.md
Due: none

update branch spec in version.json
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

remove preview tag
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

unpin version
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

bump version
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

move signing to separate stage
  Ix.NET/Source/build/Sign-Package.ps1
  Ix.NET/Source/build/signclient.json
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Convenience Using overloads
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Creation.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.approved.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/UsingAsyncTest.cs
Due: azure-pipelines.rx.yml

Fix Generate (timed) crash upon disposing a long sequence
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Generate.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/GenerateTest.cs
Due: azure-pipelines.rx.yml

Disable parallelism to work around Sdk Resolver race condition
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Serialize the dispose of Zip(IEnumerable) with MoveNext/Current
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Zip.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ZipTest.cs
Due: azure-pipelines.rx.yml

Remove unnecessary dispose call.
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Zip.cs
Due: azure-pipelines.rx.yml

Clear the enumerator in OnNext
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Zip.cs
Due: azure-pipelines.rx.yml

Disposing EventLoopScheduler with in-flight items (closes #286)
  Rx.NET/Source/src/System.Reactive/Concurrency/EventLoopScheduler.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
Due: azure-pipelines.rx.yml

Add test for support of large enumerables
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToObservable.cs
Due: azure-pipelines.ix.yml

Replace tail recursion with while loop
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToObservable.cs
Due: azure-pipelines.ix.yml

Filter SkipCI integration tests
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Remove IDE guid
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Document AsyncEnumerableEx methods
  Ix.NET/Source/System.Interactive.Async/System/Linq/AsyncEnumerableEx.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Amb.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Buffer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Catch.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Defer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/DistinctUntilChanged.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Do.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Expand.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Finally.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Generate.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IgnoreElements.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IsEmpty.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Merge.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Never.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/OnErrorResumeNext.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Retry.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Return.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/StartWith.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Throw.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Timeout.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Using.cs
Due: azure-pipelines.ix.yml

Replace observable with async-enumerable in docs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Amb.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Buffer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Catch.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Defer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/DistinctUntilChanged.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Do.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Finally.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Generate.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IgnoreElements.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IsEmpty.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Merge.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Never.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/OnErrorResumeNext.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Retry.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Return.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/StartWith.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Throw.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Timeout.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Using.cs
Due: azure-pipelines.ix.yml

Update signatures to match ApiApprover v10
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Aliases.approved.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.approved.cs
Due: azure-pipelines.rx.yml

Update ignore filter for ApiApprover v10
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
Due: azure-pipelines.rx.yml

Updated sort order for Api Approver v10
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Aliases.approved.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.approved.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Testing.approved.cs
Due: azure-pipelines.rx.yml

set stable version
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Add Github welcome issue/PR templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
