Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.ix.yml:
  pool:
    vmImage: windows-2019
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core SDK 3.x
    inputs:
      version: 3.0.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  ...

azure-pipelines.rx.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-2019
    variables:
      BuildConfiguration: Release
      BuildPlatform: Any CPU
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    steps:
    - task: UseDotNet@2
      inputs:
        version: 3.0.x
        includePreviewVersions: true
  ...

Split templates into Rx/Ix variants
  .github/ISSUE_TEMPLATE/issue_ix.md
  .github/ISSUE_TEMPLATE/issue_rx.md
  .github/PULL_REQUEST_TEMPLATE/pr_ix.md
  .github/PULL_REQUEST_TEMPLATE/pr_rx.md
Due: none

Fix typos and wording
  .github/ISSUE_TEMPLATE/issue_ix.md
  .github/ISSUE_TEMPLATE/issue_rx.md
  .github/PULL_REQUEST_TEMPLATE/pr_ix.md
  .github/PULL_REQUEST_TEMPLATE/pr_rx.md
Due: none

Indicate CombineLatest keeps using the very last value of a terminated source
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
Due: azure-pipelines.rx.yml

Add RefCount overloads with minimum observer count requirement
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Binding.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Binding.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.approved.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
Due: azure-pipelines.rx.yml

Improve wording of minObservers
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Binding.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
Due: azure-pipelines.rx.yml

Add argument checking for the overloads
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
Due: azure-pipelines.rx.yml

Add ToTask overloads with IScheduler
  Rx.NET/Source/src/System.Reactive/Threading/Tasks/TaskObservableExtensions.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.approved.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskObservableExtensionsTest.cs
Due: azure-pipelines.rx.yml

Update docs to indicate null scheduler is not accepted either
  Rx.NET/Source/src/System.Reactive/Threading/Tasks/TaskObservableExtensions.cs
Due: azure-pipelines.rx.yml

Fix the GitHub pull request template (chose not supported)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/pr_ix.md
Due: none

Fix Ix.Async.Average docs wording
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.tt
Due: azure-pipelines.ix.yml

Add more argument validation to TestScheduler.Start
  Rx.NET/Source/src/Microsoft.Reactive.Testing/TestScheduler.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/TestSchedulerTest.cs
Due: azure-pipelines.rx.yml

Avoid infinite generics recursion in SynchronizationContextScheduler
  Rx.NET/Source/src/System.Reactive/Concurrency/SynchronizationContextScheduler.cs
Due: azure-pipelines.rx.yml

Fix another case of infinite generics recursion.
  Rx.NET/Source/src/System.Reactive/Concurrency/CatchScheduler.cs
Due: azure-pipelines.rx.yml

Fix crash in Buffer due to empty empty queue in tick
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Buffer.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/BufferTest.cs
Due: azure-pipelines.rx.yml

Added xml doc comments to SelectAwait and SelectManyAwait.
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
Due: azure-pipelines.ix.yml

Cancel in-flight TaskCompletionSources in ToAsyncEnumerable(Observable).
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
Due: azure-pipelines.ix.yml

Added doc comments to Min/Max, GroupBy, Sum, Average, and Aggregate await-async overloads.
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Max.cs
Due: azure-pipelines.ix.yml

Added xml doc comments to all the XxxAwaitAsync overloads in AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
Due: azure-pipelines.ix.yml

Undid accidental changes to unrelated files.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
Due: azure-pipelines.ix.yml

And this one.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Max.cs
Due: azure-pipelines.ix.yml

Update SDK
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update SDK
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

use 3.1.300-preview to fix embedded pdb
  Rx.NET/Source/global.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

fix yaml
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

yaml
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

full ver
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

test
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

older task
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

v0
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

use 3.1.300-preview to fix embedded pdb (#1161)
  Rx.NET/Source/global.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Enable deterministic settings
  Ix.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

use 3.1.3xx sdk with fixes for untracked sources
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

publish recieved files
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

dir name
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

skip approval tests for now
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

skip
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update to MIT license
  LICENSE
Due: none

Update license to MIT
  Ix.NET/Source/Directory.build.props
Due: azure-pipelines.ix.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
