Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.asyncrx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 7.0.x SDK
  ...

azure-pipelines.ix.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 6.x SDK
        inputs:
          version: 6.x
      - task: UseDotNet@2
        displayName: .NET Core 5.0 runtime
        inputs:
          version: 5.0.x
  ...

azure-pipelines.rx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 8.0.x SDK
        inputs:
  ...

Update Ix build to use .NET 8.0 SDK
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Align ref project names with assembly names
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/refs/System.Interactive.Providers.Ref/System.Interactive.Providers.csproj
  Ix.NET/Source/refs/System.Interactive.Ref/System.Interactive.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Fix Union Dispose bug #2112 (#2131)
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Union.cs
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
  Ix.NET/Source/refs/System.Interactive.Providers.Ref/System.Interactive.Providers.csproj
  Ix.NET/Source/refs/System.Interactive.Ref/System.Interactive.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.csproj
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Make Ix homoiconicity generator nullable-aware
  Ix.NET/Source/AsyncQueryableGenerator.t4
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Never.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.tt
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.cs
Due: azure-pipelines.ix.yml

Upgrade ApiCompare to .NET 8.0 and fix diagnostics
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/ApiCompare/Program.cs
Due: azure-pipelines.ix.yml

Update Playground to .NET 8.0 and fix diagnostics
  Ix.NET/Source/Playground/DemoAttribute.cs
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/Playground/Program.cs
Due: azure-pipelines.ix.yml

Fix System.Interactive diagnostics on .NET SDK 8.0
  Ix.NET/Source/System.Interactive/System/Linq/MaxRefCountList.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Case.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Create.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/If.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/MaxByWithTies.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Memoize.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Publish.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Share.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Throw.cs
  Ix.NET/Source/System.Interactive/System/Linq/RefCountList.cs
Due: azure-pipelines.ix.yml

Update System.Interactive.Async for .NET 8.0 SDK
  Ix.NET/Source/System.Interactive.Async/EmptyArray.cs
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Merge.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Never.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Return.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Timeout.cs
Due: azure-pipelines.ix.yml

Update System.Linq.Async for .NET SDK 8.0
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerableHelpers.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerablePartition.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncListPartition.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Disposables.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/AppendPrepend.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/DefaultIfEmpty.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Empty.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Grouping.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Lookup.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderedAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Range.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Reverse.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SingleLinkedNode.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToObservable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Set.cs
  Ix.NET/Source/System.Linq.Async/System/Threading/Tasks/AsyncEnumerableExt.cs
Due: azure-pipelines.ix.yml

Update System.Linq.Async.Queryable for .NET SDK 8.0
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncEnumerableQuery.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncEnumerableRewriter.cs
Due: azure-pipelines.ix.yml

Update System.Linq.Async.Tests for .NET SDK 8.0
  Ix.NET/Source/.editorconfig
  Ix.NET/Source/Directory.Build.props
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Aggregate.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Any.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Count.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/First.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/FirstOrDefault.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Last.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/LastOrDefault.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/LongCount.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Range.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Reverse.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Single.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/SingleOrDefault.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Skip.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Take.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToArray.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToEnumerable.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToHashSet.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToLookup.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToObservable.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Union.cs
Due: azure-pipelines.ix.yml

Update System.Interactive.Async.Tests for .NET SDK 8.0
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Buffer.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Never.cs
Due: azure-pipelines.ix.yml

Update System.Interactive.Tests for .NET SDK 8.0
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Buffer.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Case.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Create.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/DistinctUntilChanged.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Do.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/DoWhile.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Expand.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Finally.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/For.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/ForEach.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Generate.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/If.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Memoize.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/OnErrorResumeNext.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Publish.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Retry.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Share.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Using.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/While.cs
  Ix.NET/Source/System.Interactive.Tests/Tests.cs
Due: azure-pipelines.ix.yml

More minor 8.0 SDK fixes for System.Linq.Async.Tests
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Select.cs
Due: azure-pipelines.ix.yml

Correct the version #if for a couple of warnings
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupJoin.cs
Due: azure-pipelines.ix.yml

Stop diagnostics for all possible primary ctor usage
  .editorconfig
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Add readme explaining use of .NET Core 3.1 in tests
  Ix.NET/Source/NetCore31TestReadme.txt
Due: azure-pipelines.ix.yml

Remove MSBuild.Sdk.Extras
  Ix.NET/Documentation/adr/0001-Ix-Ref-Assembly-Mismatches.md
  Ix.NET/Source/FasterLinq/FasterLinq.csproj
  Ix.NET/Source/FasterLinq/Program.cs
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.Generated.cs
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.Generated.tt
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Generate.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Never.cs
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive.Providers/System/Linq/QueryableEx.cs
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.slnf
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/global.json
  Ix.NET/Source/refs/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/refs/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.csproj
  Ix.NET/Source/refs/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Fix some more straggling compiler diagnostics
  Ix.NET/Source/FasterLinq/Program.cs
Due: azure-pipelines.ix.yml

Add step to build refs explicitly
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Fix conditional package ref in System.Linq.Async ref assembly project
  Ix.NET/Source/refs/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Add missing config to new build pipeline step
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Fix typos in Ix ref assembly ADR
  Ix.NET/Documentation/adr/0001-Ix-Ref-Assembly-Mismatches.md
Due: none

Specify build config via arguments
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Add API approvals to ensure we don't accidentally change the API
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractive.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsyncProviders.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveProviders.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsyncQueryable.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/DiffPlexReporter.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Add reference to .NET Core 3.1 explainer readme in test projects
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
Due: azure-pipelines.ix.yml

Enable application-defined Synchronize gate
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Synchronize.cs
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncGate.cs
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncGateReleaser.cs
  AsyncRx.NET/System.Reactive.Async/Threading/IAsyncGate.cs
Due: azure-pipelines.asyncrx.yml

Align IntroToRx Start description with reality
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none

Implement ToImmutable*Async extension methods (#1545)
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableArray.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableDictionary.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableHashSet.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableList.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableSortedDictionary.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableSortedSet.cs
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableArray.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableList.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableSortedDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableSortedSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/FunctionalHelpers.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Utilities.cs
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
Due: azure-pipelines.ix.yml

Add `System.Linq.Async` ToImmutable* to verified APIs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
Due: azure-pipelines.ix.yml

Add release notes
  Ix.NET/Documentation/ReleaseHistory/Ix.v6.md
Due: none

Align IntroToRx Start description with reality (#2163)
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none

Use new sign tool
  azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Use new sign tool (#2167)
  azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Fix ToObservable operator can throw unhandled exception
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToObservable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToObservable.cs
Due: azure-pipelines.ix.yml

Unhandled exceptions thrown in DisposeAsync routed to TaskScheduler.UnobservedTaskException
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToObservable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToObservable.cs
Due: azure-pipelines.ix.yml

Add .NET 9.0 test project targets. Remove .NET 7.0 targets.
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Disable CsWinRT code AOT optimizing code generation
  Rx.NET/Source/Directory.build.targets
Due: azure-pipelines.rx.yml

Disable CsWinRT AOT code gen
  Rx.NET/Source/Directory.build.targets
Due: azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
