Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.ix.yml:
  pool:
    vmImage: windows-2019
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core SDK 3.x
    inputs:
      version: 3.0.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  ...

azure-pipelines.rx.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-2019
    variables:
      BuildConfiguration: Release
      BuildPlatform: Any CPU
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    steps:
    - task: UseDotNet@2
      inputs:
        version: 3.0.x
        includePreviewVersions: true
  ...

WIP to get .NET 5 support for Rx
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/facades/System.Reactive.Core/System.Reactive.Core.csproj
  Rx.NET/Source/facades/System.Reactive.Interfaces/System.Reactive.Interfaces.csproj
  Rx.NET/Source/facades/System.Reactive.Linq/System.Reactive.Linq.csproj
  Rx.NET/Source/facades/System.Reactive.PlatformServices/System.Reactive.PlatformServices.csproj
  Rx.NET/Source/facades/System.Reactive.Providers/System.Reactive.Providers.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/System.Reactive.Windows.Threading.csproj
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/Internal/ReflectionUtils.cs
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Concurrency/CoreDispatcherScheduler.cs
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Linq/CoreDispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.targets
  Rx.NET/Source/tests/Tests.System.Reactive/DispatcherHelpers.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

WIP to get .NET 5 support for Rx
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Concurrency/CoreDispatcherScheduler.cs
Due: azure-pipelines.rx.yml

Fix exception ctor
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Binding.cs
Due: azure-pipelines.rx.yml

Updates for .NET 5
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/src/System.Reactive/Internal/ReflectionUtils.cs
  Rx.NET/Source/src/System.Reactive/Platforms/Desktop/Concurrency/ControlScheduler.cs
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Concurrency/CoreDispatcherScheduler.cs
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Linq/CoreDispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/DispatcherHelpers.cs
Due: azure-pipelines.rx.yml

Compile with .NET 5. Dispatcher -> CoreDispatcher.
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/TypeForwarders.Threading.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/ThreadPoolScheduler.Windows.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/ThreadPoolScheduler.cs
  Rx.NET/Source/src/System.Reactive/Internal/CurrentPlatformEnlightenmentProvider.cs
  Rx.NET/Source/src/System.Reactive/Platforms/Desktop/Concurrency/DispatcherScheduler.cs
  Rx.NET/Source/src/System.Reactive/Platforms/Desktop/Internal/Constants.cs
  Rx.NET/Source/src/System.Reactive/Platforms/Desktop/Linq/DispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Linq/CoreDispatcherObservable.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/DispatcherSchedulerTest.cs
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Fix how assert is called so we don't crash the dispatcher
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/DispatcherSchedulerTest.cs
Due: azure-pipelines.rx.yml

Update to accomondate new generated attribute
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Aliases.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Testing.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update pipeline for 5.0
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  Rx.NET/Integration/global.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Use msbuild for sln due to uap
  Rx.NET/Source/global.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

use the pool with 2019 preview on it
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix approval tests
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Aliases.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Testing.verified.cs
Due: azure-pipelines.rx.yml

Fix defines
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  Rx.NET/Source/Directory.build.targets
Due: azure-pipelines.rx.yml

Fix condition
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
Due: none

Code coverage
  Rx.NET/Source/Directory.build.targets
Due: azure-pipelines.rx.yml

Split tests into stage
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix name
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix build dir to ensure we don't add targets for net5
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Minor update
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

update branch name
  Ix.NET/Source/version.json
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

branch name
  Rx.NET/Source/version.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix FromEventPatternCore's use of the type parameter.
  AsyncRx.NET/System.Reactive.Async.Linq/System/Reactive/Linq/Operators/FromEventPattern.cs
Due: none

Misc. code improvements.
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/AsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/SynchronizationContextAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/TaskPoolAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Core/System/Reactive/AsyncObservable.cs
  AsyncRx.NET/System.Reactive.Async.Core/System/Reactive/AsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async.Disposables/System/Reactive/Disposables/AsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async.Disposables/System/Reactive/Disposables/CancellationAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async.Disposables/System/Reactive/Disposables/RefCountAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async.Linq/System/Runtime/CompilerServices/AsyncObservableMethodBuilder.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/Subjects/ReplayAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Bcl/System/Threading/AsyncLock.cs
Due: none

Use ValueTask on schedulers.
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/AsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/AsyncSchedulerBase.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/ImmediateAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/SynchronizationContextAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/TaskPoolAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Interfaces/System/Reactive/Concurrency/IAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Linq/System/Runtime/CompilerServices/AsyncObservableMethodBuilder.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/FastImmediateAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/ISchedulerAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/ScheduledAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/ScheduledAsyncObserverBase.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/Subjects/ReplayAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Bcl/System/Threading/AsyncLock.cs
Due: none

Remove unnecessary rendez-vous based on Task.
  AsyncRx.NET/System.Reactive.Async.Disposables/System/Reactive/Disposables/CompositeAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async.Disposables/System/Reactive/Disposables/SerialAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async.Disposables/System/Reactive/Disposables/SingleAssignmentAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async.Linq/System/Reactive/Linq/Operators/Amb.cs
  AsyncRx.NET/System.Reactive.Async.Linq/System/Reactive/Linq/Operators/CombineLatest.Generated.cs
  AsyncRx.NET/System.Reactive.Async.Linq/System/Reactive/Linq/Operators/CombineLatest.Generated.tt
  AsyncRx.NET/System.Reactive.Async.Linq/System/Reactive/Linq/Operators/Zip.Generated.cs
  AsyncRx.NET/System.Reactive.Async.Linq/System/Reactive/Linq/Operators/Zip.Generated.tt
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/FastImmediateAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/ScheduledAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/ScheduledAsyncObserverBase.cs
Due: none

Fix Observable.FromAsync documentation grammar
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Async.cs
Due: azure-pipelines.rx.yml

Simplify some code.
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/AsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Core/System/Reactive/AsyncObservableBase.cs
Due: none

Remove awaitable interfaces.
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/AsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Threading/Tasks/TaskAwaitable.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Threading/Tasks/ValueTaskAwaitable.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/FastImmediateAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/ScheduledAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async.Subjects/System/Reactive/ScheduledAsyncObserverBase.cs
  AsyncRx.NET/System.Reactive.Bcl/System/IAwaitable.cs
  AsyncRx.NET/System.Reactive.Bcl/System/IAwaiter.cs
Due: none

Initial work to support EnumeratorCancellation.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Cast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Except.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Intersect.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OfType.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
  Ix.NET/Source/System.Linq.Async/System/Runtime/CompilerServices/EnumeratorCancellationAttribute.cs
Due: azure-pipelines.ix.yml

Use static local functions.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Cast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Except.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Intersect.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OfType.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
Due: azure-pipelines.ix.yml

Prepare Ix.Async for cancellation.
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Amb.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Buffer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Catch.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Defer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/DistinctUntilChanged.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Do.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Expand.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Finally.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Generate.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IgnoreElements.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Merge.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Using.cs
Due: azure-pipelines.ix.yml

Fix Select.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
Due: azure-pipelines.ix.yml

Add missing edit.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
Due: azure-pipelines.ix.yml

Fix TakeLast.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeLast.cs
Due: azure-pipelines.ix.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
