Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.asyncrx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 7.0.x SDK
  ...

azure-pipelines.ix.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 10.x SDK
        inputs:
          version: 10.x
      - task: UseDotNet@2
        displayName: .NET 8.0 runtime
        inputs:
          version: 8.x
  ...

azure-pipelines.rx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 8.0.x SDK
        inputs:
  ...

Address MSTEST0049
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/MSTestSettings.cs
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/SchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/LatestTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/NextTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/StartTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Subjects/ReplaySubjectTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskObservableExtensionsTest.cs
Due: azure-pipelines.rx.yml

Use modernised assertions
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/SystemClockTest.cs
Due: azure-pipelines.rx.yml

Use VS2022-compatible Roslyn refs in analyzers
  Rx.NET/Source/src/System.Reactive.Analyzers/System.Reactive.Analyzers.csproj
Due: azure-pipelines.rx.yml

Use VS2022-compatible Roslyn refs in analyzers (#2319)
  Rx.NET/Source/src/System.Reactive.Analyzers/System.Reactive.Analyzers.csproj
Due: azure-pipelines.rx.yml

Remove a redundant duplicate NoWarn in UWP test project
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
Due: azure-pipelines.rx.yml

Upgrade to PublishCodeCoverageResults@2 in Rx.NET build
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update integration test package references
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Align Rx.NET with current tooling (#2321)
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  Rx.NET/Source/System.Reactive.sln
  Rx.NET/Source/System.Reactive.slnx
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/Qbservable.Aliases.Homoicon.cs
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/AsyncInfoToObservableBridge.cs
  Rx.NET/Source/src/System.Reactive/Internal/ReflectionUtils.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Platforms/WinRT/Foundation/AsyncInfoToObservableBridge.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/MSTestSettings.cs
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/SchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/LatestTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/NextTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/StartTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Subjects/ReplaySubjectTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/SystemClockTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskObservableExtensionsTest.cs
  Rx.NET/tools/HomoIcon/Program.cs
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Describe deprecated packages in Rx7 release notes
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
Due: none

Fix typos
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
Due: none

Describe deprecated packages in Rx7 release notes (#2327)
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
Due: none

Expand UI framework library readmes
  Rx.NET/Source/src/System.Reactive.Uwp/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Windows.Forms/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Wpf/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Describe OfType breaking change in release notes
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
Due: none

Fix spurious WPF ref in Winforms readme
  Rx.NET/Source/src/System.Reactive.Windows.Forms/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Expand UI framework readmes; update release notes (#2328)
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
  Rx.NET/Source/src/System.Reactive.Uwp/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Windows.Forms/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Wpf/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Produce warning if package.config in use
  Rx.NET/Source/src/System.Reactive/System.Reactive.nuspec
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.PackagesConfigCheck.targets
Due: azure-pipelines.rx.yml

Add targets file that got missed due to gitignore rules
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.targets
Due: azure-pipelines.rx.yml

Quote expression and fix types in targets file
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.PackagesConfigCheck.targets
Due: azure-pipelines.rx.yml

Add release branch details to version.json
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Set version to '7.0.0-beta.{height}'
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Update NuGet protocol package due to vulnerabilities
  Rx.NET/Test/Gauntlet/Checks/PlugIns/CheckIssue97/CheckIssue97.csproj
  Rx.NET/Test/Gauntlet/RxGauntlet/Properties/launchSettings.json
  Rx.NET/Test/Gauntlet/RxPackagingGauntlet.sln
Due: none

Update NuGet package references
  Rx.NET/Test/Gauntlet/Checks/Bloat/Bloat.ConsoleWinRtTemplate/Bloat.ConsoleWinRtTemplate.csproj
  Rx.NET/Test/Gauntlet/Checks/ExtensionMethods/ExtensionMethods.DisableTransitiveWorkaroundFail/ExtensionMethods.DisableTransitiveWorkaroundFail.csproj
  Rx.NET/Test/Gauntlet/Checks/PlugIns/CheckIssue97/CheckIssue97.csproj
  Rx.NET/Test/Gauntlet/Checks/PlugIns/PlugIn.HostNetFx/PlugIn.HostNetFx.csproj
  Rx.NET/Test/Gauntlet/Checks/PlugIns/PlugIn/PlugIn.csproj
  Rx.NET/Test/Gauntlet/Checks/TransitiveReferences/Transitive.Lib.UsesRx/Transitive.Lib.UsesRx.csproj
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/CommandLine/TestCommandBase.cs
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/RxGauntlet.Common.csproj
  Rx.NET/Test/Gauntlet/RxGauntlet/Cli/RxGauntletCommand.cs
Due: none

Upgrade to slnx
  Rx.NET/Test/Gauntlet/RxPackagingGauntlet.sln
  Rx.NET/Test/Gauntlet/RxPackagingGauntlet.slnx
Due: none

Update test framework refs
  Rx.NET/Test/Gauntlet/Check.Specs/Check.Specs.csproj
Due: none

Add refs to prevent the vulnerability warnings caused by netstandard1.1
  Rx.NET/Test/Gauntlet/Checks/PlugIns/PlugIn.Api/PlugIn.Api.csproj
Due: none

Ensure beta prelrelease has higher version number than last preview
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Use rc preview tag
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Adjust to rc-1
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Set `main` Rx to 7.1, add nbgv ADR
  Rx.NET/Documentation/adr/0009-nbgv-usage.md
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Fix typos, and update after read through
  Rx.NET/Documentation/adr/0009-nbgv-usage.md
Due: none

Address PR review: sanitize -Label, validate harness options
  Rx.NET/Source/benchmarks/Rx.WorkloadHarness/Program.cs
  Rx.NET/Source/benchmarks/tools/capture-baseline.ps1
Due: azure-pipelines.rx.yml

Remove rc-1 preview tag for v7.0
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Fix AsyncGate and also casing of Directory.Build.props
  AsyncRx.NET/Directory.Build.props
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncGate.cs
Due: azure-pipelines.asyncrx.yml

Align AsyncRx.NET GroupJoin and Take with Rx.NET
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/GroupJoin.cs
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Take.cs
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Window.cs
Due: azure-pipelines.asyncrx.yml

Fix build warnings
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/GroupJoin.cs
Due: azure-pipelines.asyncrx.yml

Align AsyncRx Delay, Take, and Window with classic Rx
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Delay.cs
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Take.cs
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Window.cs
Due: azure-pipelines.asyncrx.yml

Fix bug where Take would forward values after completion
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Take.cs
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncGate.cs
Due: azure-pipelines.asyncrx.yml

Fix casing of AsyncRx.NET Directory.Build.props
  AsyncRx.NET/Directory.Build.props
Due: azure-pipelines.asyncrx.yml

Add Microsoft.Reactive.Testing.Async and its tests to AsyncRx.NET
  AsyncRx.NET/AsyncRx.NET.sln
  AsyncRx.NET/AsyncRx.NET.slnx
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/AsyncReactiveAssert.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/AsyncReactiveTest.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/AsyncRecorded.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/AsyncSubscription.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/ColdAsyncObservable.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/ExecutionShape.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/HotAsyncObservable.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/ITestableAsyncObservable.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/ITestableAsyncObserver.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/Microsoft.Reactive.Testing.Async.csproj
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/MockAsyncObserver.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/NotificationExtensions.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/OperationTime.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/TestAsyncScheduler.Factories.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/TestAsyncScheduler.Harness.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/TestAsyncScheduler.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/TestAsyncSchedulerException.cs
  AsyncRx.NET/Microsoft.Reactive.Testing.Async/build/NuGet.Readme.md
  AsyncRx.NET/Tests.Microsoft.Reactive.Testing.Async/AsyncReactiveAssertTest.cs
  AsyncRx.NET/Tests.Microsoft.Reactive.Testing.Async/AsyncRxTakeTest.cs
  AsyncRx.NET/Tests.Microsoft.Reactive.Testing.Async/OperationTimeTest.cs
  AsyncRx.NET/Tests.Microsoft.Reactive.Testing.Async/TestAsyncSchedulerPumpTest.cs
  AsyncRx.NET/Tests.Microsoft.Reactive.Testing.Async/TestableAsyncObservableTest.cs
  AsyncRx.NET/Tests.Microsoft.Reactive.Testing.Async/Tests.Microsoft.Reactive.Testing.Async.csproj
  azure-pipelines.asyncrx.yml
Due: azure-pipelines.asyncrx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
