Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Update NuGet packages (#2303)
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/System.Reactive.Analyzers.Test.csproj
  Rx.NET/Source/src/System.Reactive.Analyzers/System.Reactive.Analyzers.csproj
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Concurrency/WindowsRuntimeThreadPoolScheduler.cs
  Rx.NET/Source/src/System.Reactive/Internal/HostLifecycleService.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/ControlSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/DispatcherSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/SchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/TaskPoolSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ObserveOnTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SubscribeOnTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/QbservableTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/SystemClockTest.cs
Due: azure-pipelines.rx.yml

Update HomoIcon tool
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/Qbservable.Aliases.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.NAry.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.NAry.tt
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/tools/HomoIcon/HomoIcon.csproj
  Rx.NET/tools/HomoIcon/HomoIcon.sln
  Rx.NET/tools/HomoIcon/Program.cs
  Rx.NET/tools/HomoIcon/Properties/AssemblyInfo.cs
  Rx.NET/tools/HomoIcon/app.config
Due: azure-pipelines.rx.yml

Reduce compiler diagnostics
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/Qbservable.Aliases.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/FuncExtra.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.tt
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Joins.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Platforms/Desktop/Linq/Observable.Remoting.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/LicenseHeaderTest.cs
  Rx.NET/tools/HomoIcon/Program.cs
Due: azure-pipelines.rx.yml

Add ADR for current trimming design
  Rx.NET/Documentation/adr/0008-trimming-vs-qbservable.md
Due: none

Update ADR after read through
  Rx.NET/Documentation/adr/0008-trimming-vs-qbservable.md
Due: none

Upgrade HomoIcon to slnx
  Rx.NET/tools/HomoIcon/HomoIcon.sln
  Rx.NET/tools/HomoIcon/HomoIcon.slnx
Due: none

Fix tuples generation, and add missing Zip and CombineLatest overloads
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/Qbservable.Aliases.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.NAry.cs
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.NAry.tt
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.CombineLatest.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.CombineLatest.tt
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.tt
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.CombineLatest.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.CombineLatest.tt
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.Zip.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.Zip.tt
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/CombineLatestTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ZipTest.cs
  Rx.NET/tools/HomoIcon/Program.cs
Due: azure-pipelines.rx.yml

Fix issues spotted by Copilot review
  Rx.NET/Documentation/adr/0008-trimming-vs-qbservable.md
  Rx.NET/Source/src/System.Reactive/Linq/FuncExtra.cs
  Rx.NET/tools/HomoIcon/Program.cs
Due: azure-pipelines.rx.yml

Prevent trimmer warnings on current SDK (#2308)
  Rx.NET/Documentation/adr/0008-trimming-vs-qbservable.md
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/Qbservable.Aliases.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/FuncExtra.cs
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.NAry.cs
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.NAry.tt
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.CombineLatest.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.CombineLatest.tt
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.tt
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Joins.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.NAry.tt
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.CombineLatest.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.CombineLatest.tt
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.Zip.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.Zip.tt
  Rx.NET/Source/src/System.Reactive/Platforms/Desktop/Linq/Observable.Remoting.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/LicenseHeaderTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/CombineLatestTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ZipTest.cs
  Rx.NET/tools/HomoIcon/HomoIcon.csproj
  Rx.NET/tools/HomoIcon/HomoIcon.sln
  Rx.NET/tools/HomoIcon/HomoIcon.slnx
  Rx.NET/tools/HomoIcon/Program.cs
  Rx.NET/tools/HomoIcon/Properties/AssemblyInfo.cs
  Rx.NET/tools/HomoIcon/app.config
Due: azure-pipelines.rx.yml

Upgrade to System.Linq.AsyncEnumerable 10.0.6 due to System.Memory vulnerability
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
  Ix.NET/Source/refs/System.Interactive.Async/System.Interactive.Async.csproj
Due: azure-pipelines.ix.yml

Upgrade to System.Linq.AsyncEnumerable 10.0.6 due to System.Memory vulnerability (#2312)
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
  Ix.NET/Source/refs/System.Interactive.Async/System.Interactive.Async.csproj
Due: azure-pipelines.ix.yml

Release prep for Ix v7.0.1
  Ix.NET/Documentation/ReleaseHistory/Ix.v7.md
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Release prep for Ix v7.0.1 (#2313)
  Ix.NET/Documentation/ReleaseHistory/Ix.v7.md
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Release prep for Ix v7.0.1 (#2313)
  Ix.NET/Documentation/ReleaseHistory/Ix.v7.md
Due: none

Set version to '7.0.1'
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Fix version
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Analyzer tests now simulate UWP builds
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/AnalyzerTestBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/AnalyzerTestNetFxBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/AnalyzerTestUapBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/System.Reactive.Analyzers.Test.csproj
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/UwpNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/AddUiFrameworkPackageAnalyzerVerifier.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/CSharpAnalyzerVerifier.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/IVerifierDispatcher.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/NetCoreTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/TestBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/UapTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/CodeAnalysisExtensions.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Polyfills.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.resx
Due: azure-pipelines.rx.yml

Update packaging ADR
  Rx.NET/Documentation/adr/0005-package-split.md
Due: none

Add System.Reactive.Uwp and update analyzers
  Rx.NET/Source/System.Reactive.sln
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/UapNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/AnalyzerReleases.Unshipped.md
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.resx
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Linq/DependencyObjectObservable.cs
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Uwp.csproj
  Rx.NET/Source/src/System.Reactive.Windows.Forms/System.Reactive.Windows.Forms.csproj
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Linq/CoreDispatcherObservable.cs
Due: azure-pipelines.rx.yml

Add analyzer tests for CoreDispatcherScheduler
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeSchedulerNewPackageAnalyzerTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
Due: azure-pipelines.rx.yml

Analyzer IAsyncAction/Operation support
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/UapNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/NetCoreTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/UapTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/CodeAnalysisExtensions.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
Due: azure-pipelines.rx.yml

Detect ToEventPattern extension method
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/CodeAnalysisExtensions.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
Due: azure-pipelines.rx.yml

Detect WindowsObservable and IEventPatternSource`2
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeSchedulerNewPackageAnalyzerTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeTypesNewPackageAnalyzerTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Linq/DependencyObjectObservable.cs
Due: azure-pipelines.rx.yml

Fix typo in ADR
  Rx.NET/Documentation/adr/0005-package-split.md
Due: none

Remove workaround for Microsoft.CodeAnalysis.Analyzer.Testing 1.1.2 bug
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/NetCoreTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/TestBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/UapTest.cs
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Uwp.csproj
Due: azure-pipelines.rx.yml

Resolve issues reported by Copilot review
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.resx
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Linq/DependencyObjectObservable.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/AppendPrependTest.cs
Due: azure-pipelines.rx.yml

Fix name of System.Reactive.Uwp in ADR
  Rx.NET/Documentation/adr/0005-package-split.md
Due: none

Remove UAP ObserveOn DependencyObject overloads from System.Reactive.WindowsRuntime
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Linq/CoreDispatcherObservable.cs
Due: azure-pipelines.rx.yml

Fix lambda in analyzer test
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeTypesNewPackageAnalyzerTest.cs
Due: azure-pipelines.rx.yml

Fix typos in comments
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeSchedulerNewPackageAnalyzerTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/CodeAnalysisExtensions.cs
Due: azure-pipelines.rx.yml

Fix reference to wrong type name in comments
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
Due: azure-pipelines.rx.yml

Add package metadata for System.Reactive.Uwp
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Uwp.csproj
  Rx.NET/Source/src/System.Reactive.Uwp/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Add AssemblyInfo.cs to System.Reactive.Uwp
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Linq/DependencyObjectObservable.cs
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Uwp.csproj
Due: azure-pipelines.rx.yml

Remove UWP methods in System.Reactive.WindowsRuntime that are now in System.Reactive.Uwp
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Linq/CoreDispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Linq/WindowsObservable.Events.cs
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Linq/WindowsObservable.StandardSequenceOperators.cs
Due: azure-pipelines.rx.yml

Link to ADR 0005 in readmes and release notes.
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
  Rx.NET/Source/src/System.Reactive.Uwp/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Windows.Forms/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Wpf/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Add UWP package and tidy the analyzers (#2316)
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
  Rx.NET/Documentation/adr/0005-package-split.md
  Rx.NET/Source/System.Reactive.sln
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/AnalyzerTestBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/AnalyzerTestNetFxBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/AnalyzerTestUapBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/System.Reactive.Analyzers.Test.csproj
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/UapNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/AddUiFrameworkPackageAnalyzerVerifier.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/CSharpAnalyzerVerifier.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/IVerifierDispatcher.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/NetCoreTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/TestBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/UapTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeSchedulerNewPackageAnalyzerTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeTypesNewPackageAnalyzerTest.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/AnalyzerReleases.Unshipped.md
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/CodeAnalysisExtensions.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Polyfills.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.resx
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Linq/DependencyObjectObservable.cs
  Rx.NET/Source/src/System.Reactive.Uwp/System.Reactive.Uwp.csproj
  Rx.NET/Source/src/System.Reactive.Uwp/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Windows.Forms/System.Reactive.Windows.Forms.csproj
  Rx.NET/Source/src/System.Reactive.Windows.Forms/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Linq/CoreDispatcherObservable.cs
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Linq/WindowsObservable.Events.cs
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/System.Reactive.Linq/WindowsObservable.StandardSequenceOperators.cs
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Wpf/build/NuGet.Readme.md
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/AppendPrependTest.cs
Due: azure-pipelines.rx.yml

Update System.Reactive to slnx
  Rx.NET/Source/System.Reactive.sln
  Rx.NET/Source/System.Reactive.slnx
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Adjust pragmas from HomoIcon to avoid warning
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/Qbservable.Aliases.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Homoicon.cs
  Rx.NET/Source/src/System.Reactive/Linq/QbservableEx.Homoicon.cs
  Rx.NET/tools/HomoIcon/Program.cs
Due: azure-pipelines.rx.yml

Use coalescing operator to simplify null tests
  Rx.NET/Source/src/System.Reactive.WindowsRuntime/AsyncInfoToObservableBridge.cs
  Rx.NET/Source/src/System.Reactive/Internal/ReflectionUtils.cs
  Rx.NET/Source/src/System.Reactive/Platforms/WinRT/Foundation/AsyncInfoToObservableBridge.cs
Due: azure-pipelines.rx.yml
