Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.asyncrx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 7.0.x SDK
  ...

azure-pipelines.ix.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 6.x SDK
        inputs:
          version: 6.x
      - task: UseDotNet@2
        displayName: .NET Core 5.0 runtime
        inputs:
          version: 5.0.x
  ...

azure-pipelines.rx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 7.0.x SDK
        inputs:
  ...

Update NuGet refs
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update NuGet refs (#1930)
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Capture ExceptionDispatchInfo in ToAsyncEnumerable
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/AsyncEnumerableTests.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
Due: azure-pipelines.ix.yml

Update README and add release notes
  AUTHORS.txt
  Ix.NET/Documentation/Museum/OldReadme.md
  Ix.NET/Documentation/ReleaseHistory/Ix.v5-and-before.md
  Ix.NET/Documentation/ReleaseHistory/Ix.v6.md
  README.md
  Rx.NET/Documentation/ReleaseHistory/Rx.v5-and-before.md
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Add readme files to NuGet packages
  Rx.NET/Source/facades/NuGet.Facades.Readme.md
  Rx.NET/Source/facades/System.Reactive.Compatibility.nuspec
  Rx.NET/Source/facades/System.Reactive.Core/System.Reactive.Core.csproj
  Rx.NET/Source/facades/System.Reactive.Experimental/System.Reactive.Experimental.csproj
  Rx.NET/Source/facades/System.Reactive.Interfaces/System.Reactive.Interfaces.csproj
  Rx.NET/Source/facades/System.Reactive.Linq/System.Reactive.Linq.csproj
  Rx.NET/Source/facades/System.Reactive.PlatformServices/System.Reactive.PlatformServices.csproj
  Rx.NET/Source/facades/System.Reactive.Providers/System.Reactive.Providers.csproj
  Rx.NET/Source/facades/System.Reactive.Runtime.Remoting/System.Reactive.Runtime.Remoting.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Forms/System.Reactive.Windows.Forms.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/System.Reactive.Windows.Threading.csproj
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Embed NuGet package icon
  .gitignore
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

Update README after feedback
  README.md
Due: none

Update bits table
  README.md
Due: none

Minor edits to readme
  README.md
Due: none

Add missing readme file
  .gitignore
  Ix.NET/Documentation/ReleaseHistory/Ix.v5-and-before.md
  Rx.NET/Source/src/System.Reactive/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Fix build badge links
  README.md
Due: none

Add blog links
  README.md
Due: none

Fix Howard's location
  README.md
Due: none

Add two more missing NuGet readme files
  Rx.NET/Source/src/Microsoft.Reactive.Testing/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Remove spurious msbuild lines from nuspec file
  Rx.NET/Source/facades/System.Reactive.Compatibility.nuspec
Due: azure-pipelines.rx.yml

Fix repo name in NuGet readme
  Rx.NET/Source/src/System.Reactive/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Update README and related docs (#1933)
  .gitignore
  AUTHORS.txt
  Ix.NET/Documentation/Museum/OldReadme.md
  Ix.NET/Documentation/ReleaseHistory/Ix.v5-and-before.md
  Ix.NET/Documentation/ReleaseHistory/Ix.v6.md
  README.md
  Rx.NET/Documentation/ReleaseHistory/Rx.v5-and-before.md
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/facades/NuGet.Facades.Readme.md
  Rx.NET/Source/facades/System.Reactive.Compatibility.nuspec
  Rx.NET/Source/facades/System.Reactive.Core/System.Reactive.Core.csproj
  Rx.NET/Source/facades/System.Reactive.Experimental/System.Reactive.Experimental.csproj
  Rx.NET/Source/facades/System.Reactive.Interfaces/System.Reactive.Interfaces.csproj
  Rx.NET/Source/facades/System.Reactive.Linq/System.Reactive.Linq.csproj
  Rx.NET/Source/facades/System.Reactive.PlatformServices/System.Reactive.PlatformServices.csproj
  Rx.NET/Source/facades/System.Reactive.Providers/System.Reactive.Providers.csproj
  Rx.NET/Source/facades/System.Reactive.Runtime.Remoting/System.Reactive.Runtime.Remoting.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Forms/System.Reactive.Windows.Forms.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/System.Reactive.Windows.Threading.csproj
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/build/NuGet.Readme.md
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Mention change in min UWP target platform version in release notes
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Mention change in min UWP target platform version in release notes (#1937)
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Add a couple of missing items to the release notes
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Add a couple of missing items to the release notes (#1938)
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Remove "-preview" from 6.0.0 release notes
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Remove preview tag from version.json
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Add netstandard2.0 target to AsyncRx.NET
  AsyncRx.NET/ApiCompare/ApiCompare.csproj
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/CombineLatest.Generated.tt
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Zip.Generated.tt
  AsyncRx.NET/System.Reactive.Async/System.Reactive.Async.csproj
Due: azure-pipelines.asyncrx.yml

Add experimental netstandard2.0 target to AsyncRx.NET (#1955)
  AsyncRx.NET/ApiCompare/ApiCompare.csproj
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/CombineLatest.Generated.tt
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Zip.Generated.tt
  AsyncRx.NET/System.Reactive.Async/System.Reactive.Async.csproj
Due: azure-pipelines.asyncrx.yml

BehaviourSubject implements IBehaviorObservable
  Rx.NET/Source/src/System.Reactive/Subjects/BehaviorSubject.cs
  Rx.NET/Source/src/System.Reactive/Subjects/IBehaviorObservable.cs
Due: azure-pipelines.rx.yml

Typo fix Behavior -> Behaviour
  Rx.NET/Source/src/System.Reactive/Subjects/IBehaviourObservable.cs
Due: azure-pipelines.rx.yml

Update and rename IBehaviourObservable.cs to IBehaviorObservable.cs
  Rx.NET/Source/src/System.Reactive/Subjects/IBehaviorObservable.cs
Due: azure-pipelines.rx.yml

Update IBehaviorObservable.cs
  Rx.NET/Source/src/System.Reactive/Subjects/IBehaviorObservable.cs
Due: azure-pipelines.rx.yml

Remove dynamic load of QueryDebugger
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Source/src/System.Reactive/Internal/CurrentPlatformEnlightenmentProvider.cs
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Remove dynamic load of QueryDebugger (#1968)
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Source/src/System.Reactive/Internal/CurrentPlatformEnlightenmentProvider.cs
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Fix AsyncObservable.DeferAsync infinite recursion
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Defer.cs
Due: azure-pipelines.asyncrx.yml

Create SECURITY.md
  SECURITY.md
Due: none

Fix AsyncObservable.DeferAsync infinite recursion (#1979)
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/Defer.cs
Due: azure-pipelines.asyncrx.yml

Retain cancel callback until ForEachAsync completes
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/ForEachAsync.cs
Due: azure-pipelines.asyncrx.yml

Retain cancel callback until ForEachAsync completes (#1981)
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/ForEachAsync.cs
Due: azure-pipelines.asyncrx.yml

Importing IntroToRx.com content
  Rx.NET/Documentation/IntroToRx/00_Foreword.md
  Rx.NET/Documentation/IntroToRx/01_WhyRx.md
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
  Rx.NET/Documentation/IntroToRx/03_LifetimeManagement.md
  Rx.NET/Documentation/IntroToRx/04_CreatingObservableSequences.md
  Rx.NET/Documentation/IntroToRx/05_Filtering.md
  Rx.NET/Documentation/IntroToRx/06_Inspection.md
  Rx.NET/Documentation/IntroToRx/07_Aggregation.md
  Rx.NET/Documentation/IntroToRx/08_Transformation.md
  Rx.NET/Documentation/IntroToRx/09_SideEffects.md
  Rx.NET/Documentation/IntroToRx/10_LeavingTheMonad.md
  Rx.NET/Documentation/IntroToRx/11_AdvancedErrorHandling.md
  Rx.NET/Documentation/IntroToRx/12_CombiningSequences.md
  Rx.NET/Documentation/IntroToRx/13_TimeShiftedSequences.md
  Rx.NET/Documentation/IntroToRx/14_HotAndColdObservables.md
  Rx.NET/Documentation/IntroToRx/15_SchedulingAndThreading.md
  Rx.NET/Documentation/IntroToRx/16_TestingRx.md
  Rx.NET/Documentation/IntroToRx/17_SequencesOfCoincidence.md
  Rx.NET/Documentation/IntroToRx/18_UsageGuidelines.md
  Rx.NET/Documentation/IntroToRx/19_DispellingMyths.md
  Rx.NET/Documentation/IntroToRx/20_Disposables.md
Due: none

Importing IntroToRx.com content (#1984)
  Rx.NET/Documentation/IntroToRx/00_Foreword.md
  Rx.NET/Documentation/IntroToRx/01_WhyRx.md
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
  Rx.NET/Documentation/IntroToRx/03_LifetimeManagement.md
  Rx.NET/Documentation/IntroToRx/04_CreatingObservableSequences.md
  Rx.NET/Documentation/IntroToRx/05_Filtering.md
  Rx.NET/Documentation/IntroToRx/06_Inspection.md
  Rx.NET/Documentation/IntroToRx/07_Aggregation.md
  Rx.NET/Documentation/IntroToRx/08_Transformation.md
  Rx.NET/Documentation/IntroToRx/09_SideEffects.md
  Rx.NET/Documentation/IntroToRx/10_LeavingTheMonad.md
  Rx.NET/Documentation/IntroToRx/11_AdvancedErrorHandling.md
  Rx.NET/Documentation/IntroToRx/12_CombiningSequences.md
  Rx.NET/Documentation/IntroToRx/13_TimeShiftedSequences.md
  Rx.NET/Documentation/IntroToRx/14_HotAndColdObservables.md
  Rx.NET/Documentation/IntroToRx/15_SchedulingAndThreading.md
  Rx.NET/Documentation/IntroToRx/16_TestingRx.md
  Rx.NET/Documentation/IntroToRx/17_SequencesOfCoincidence.md
  Rx.NET/Documentation/IntroToRx/18_UsageGuidelines.md
  Rx.NET/Documentation/IntroToRx/19_DispellingMyths.md
  Rx.NET/Documentation/IntroToRx/20_Disposables.md
Due: none

Avoid spurious references to Microsoft.Bcl.AsyncInterfaces (#1719)
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Clear sync context on test that requires it to be absent
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskLikeSupportTest.cs
Due: azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
