Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.asyncrx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 7.0.x SDK
  ...

azure-pipelines.ix.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 8.x SDK
        inputs:
          version: 8.x
      - task: UseDotNet@2
        displayName: .NET 6.0 runtime
        inputs:
          version: 6.x
  ...

azure-pipelines.rx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 8.0.x SDK
        inputs:
  ...

Update version.json to 6.1.0 (#2217)
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Update Rx PackageReferences to 6.1.0 in integration test
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Update Rx PackageReferences to 6.1.0 in integration tests (#2218)
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Enhancement Add DisposeWith (#2178)
  Rx.NET/Source/src/System.Reactive/Disposables/Fluent/DisposableExtensions.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Disposables/DisposableTests.cs
Due: azure-pipelines.rx.yml

Upgrade test package versions
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Upgrade test packages
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Upgrade libraries used by Api approval tests
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update benchmark pcackage reference
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Deal with new diagnostic arising from test package upgrades
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Feature/test packages 2025 (#2219)
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Add namespace style config to .editorconfig
  .editorconfig
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Add namespace style config to .editorconfig (#2220)
  .editorconfig
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Implementing TakeUntil with CancellationToken (#2182)
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/TakeUntilCancellationToken.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/TakeUntilTest.cs
Due: azure-pipelines.rx.yml

Revert to block-scoped namespaces
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/TakeUntilCancellationToken.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/TakeUntilTest.cs
Due: azure-pipelines.rx.yml

Fix typos, standardized spelling of cancelled
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/TakeUntilCancellationToken.cs
Due: azure-pipelines.rx.yml

Update release notes
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Add UTF-8 BOM to release notes to make the umlaut work
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Fix the canceled-cancelled I missed before
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
Due: azure-pipelines.rx.yml

Add new TakeUntil to verified API
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Add IQbservable form of TakeUntil
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Fix exception documentation on new and one existing TakeUntil overload
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
Due: azure-pipelines.rx.yml

TakeUntil with CancellationToken (#2222)
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/TakeUntilCancellationToken.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/TakeUntilTest.cs
Due: azure-pipelines.rx.yml

Fix integration test version numbers
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Update ADR to reflect our current view
  Rx.NET/Documentation/adr/0004-package-split.md
Due: none

Further ADR clarification
  Rx.NET/Documentation/adr/0004-package-split.md
Due: none

Yet more ADR clarifications
  Rx.NET/Documentation/adr/0004-package-split.md
Due: none

Move ref assembly out of Facades folder into FrameworkIntegrations
  Rx.NET/Source/System.Reactive.sln
Due: azure-pipelines.rx.yml

Remove duplicate PackageReferences
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Fix some new analyzer diagnostics
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
Due: azure-pipelines.rx.yml

Initial analyzer for recommending UI packages
  Rx.NET/Source/System.Reactive.Analyzers.Test/MSTestSettings.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/System.Reactive.Analyzers.Test.csproj
  Rx.NET/Source/System.Reactive.Analyzers.Test/UwpNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/Verifiers/AddUiFrameworkPackageAnalyzerVerifier.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/Verifiers/CSharpAnalyzerVerifier.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WindowsFormsNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WindowsRuntimeNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WpfNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers/AnalyzerReleases.Shipped.md
  Rx.NET/Source/System.Reactive.Analyzers/AnalyzerReleases.Unshipped.md
  Rx.NET/Source/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/System.Reactive.Analyzers/Analyzers/CodeAnalysisExtensions.cs
  Rx.NET/Source/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/System.Reactive.Analyzers/Resources.resx
  Rx.NET/Source/System.Reactive.Analyzers/System.Reactive.Analyzers.csproj
  Rx.NET/Source/System.Reactive.sln
Due: azure-pipelines.rx.yml

WPF package detection in analyzer
  Rx.NET/Source/System.Reactive.Analyzers.Test/TestExtensionMethodAnalyzerBase.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/Verifiers/AddUiFrameworkPackageAnalyzerVerifier.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WindowsFormsNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WpfNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers/AnalyzerReleases.Unshipped.md
  Rx.NET/Source/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/System.Reactive.Analyzers/Resources.resx
Due: azure-pipelines.rx.yml

Add missing Build folder
  .gitignore
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/BuildOutput.cs
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/BuildOutputExtensions.cs
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/ComponentBuilder.cs
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/ModifiedProjectClone.cs
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/PackageIdAndVersion.cs
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/ProjectFileRewriter.cs
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/UiFrameworkComponentsInOutput.cs
Due: none

Fix warnings and diagnostics
  Rx.NET/Test/Gauntlet/.editorconfig
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/ModifiedProjectClone.cs
  Rx.NET/Test/Gauntlet/RxGauntlet.Common/Build/ProjectFileRewriter.cs
Due: none

Basic WPF and Windows Forms missing package analyzer working
  Rx.NET/Source/System.Reactive.Analyzers.Test/TestExtensionMethodAnalyzerBase.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/UwpNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WindowsFormsExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WindowsFormsSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WindowsRuntimeNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WpfExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers.Test/WpfSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
  Rx.NET/Source/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/System.Reactive.Analyzers/Resources.resx
Due: azure-pipelines.rx.yml

Add analyzer to System.Reactive package
  Rx.NET/Source/System.Reactive.sln
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/MSTestSettings.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/System.Reactive.Analyzers.Test.csproj
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/TestExtensionMethodAnalyzerBase.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/UwpNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/AddUiFrameworkPackageAnalyzerVerifier.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/CSharpAnalyzerVerifier.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfExtensionsNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/AnalyzerReleases.Shipped.md
  Rx.NET/Source/src/System.Reactive.Analyzers/AnalyzerReleases.Unshipped.md
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/CodeAnalysisExtensions.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.resx
  Rx.NET/Source/src/System.Reactive.Analyzers/System.Reactive.Analyzers.csproj
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/System.Reactive.nuspec
Due: azure-pipelines.rx.yml

Try to fix apparently spurious license header warnings
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/MSTestSettings.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/UwpNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeNewPackageAnalyzerTests.cs
Due: azure-pipelines.rx.yml

Add analyzer checks for UI dispatcher static properties
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsFormsSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WpfSchedulerNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificTypes.cs
Due: azure-pipelines.rx.yml

Add Windows Runtime package verifier checks
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/Verifiers/AddUiFrameworkPackageAnalyzerVerifier.cs
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/WindowsRuntimeNewPackageAnalyzerTests.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/AnalyzerReleases.Unshipped.md
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/AddUiFrameworkPackageAnalyzer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Analyzers/UiFrameworkPackages/UiFrameworkSpecificExtensionMethods.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.Designer.cs
  Rx.NET/Source/src/System.Reactive.Analyzers/Resources.resx
Due: azure-pipelines.rx.yml

Add CaptureExceptionDispatchState operator
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Documentation/adr/0004-onerror-to-throw.md
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Single.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/CaptureExceptionDispatchState.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Single.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/CaptureExceptionDispatchStateTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ThrowTest.cs
Due: azure-pipelines.rx.yml

Finish first draft of ADR
  Rx.NET/Documentation/adr/0004-onerror-to-throw.md
Due: none

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
