Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.asyncrx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 7.0.x SDK
  ...

azure-pipelines.ix.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 8.x SDK
        inputs:
          version: 8.x
      - task: UseDotNet@2
        displayName: .NET 6.0 runtime
        inputs:
          version: 6.x
  ...

azure-pipelines.rx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 8.0.x SDK
        inputs:
  ...

ADR updates
  Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Documentation/adr/0004-package-split.md
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

ADR WIP
  Rx.NET/Documentation/adr/0004-package-split.md
  Rx.NET/Documentation/adr/images/0003-Rx-Core-2.2.0-contents.png
Due: none

More ADR WIP
  Rx.NET/Documentation/adr/0004-package-split.md
Due: none

More ADR progress
  Rx.NET/Documentation/adr/0004-package-split.md
Due: none

More ADR updates
  Rx.NET/Documentation/adr/0004-package-split.md
Due: none

Reviewed ADR up to constraints
  Rx.NET/Documentation/adr/0004-package-split.md
Due: none

Include 'legacyfacade' in preview version text
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Hide UI types in facade reference assemblies
  Rx.NET/Source/System.Reactive.sln
  Rx.NET/Source/facades/System.Reactive.MakeRefAssemblies/System.Reactive.MakeRefAssemblies.csproj
  Rx.NET/Source/facades/System.Reactive/ApiCompatSuppressions.xml
  Rx.NET/Source/facades/System.Reactive/Obsolete/Remoting/Linq/Observable.Remoting.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/Remoting/Linq/QueryLanguage.Remoting.cs
  Rx.NET/Source/facades/System.Reactive/Obsolete/UWP/Concurrency/ThreadPoolScheduler.Windows.cs
  Rx.NET/Source/facades/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/facades/System.Reactive/System.Reactive.nuspec
  Rx.NET/Source/facades/System.Reactive/System/Reactive/Concurrency.cs
  Rx.NET/Source/facades/System.Reactive/System/Reactive/Linq.cs
  Rx.NET/Source/facades/System.Reactive/System/Reactive/Windows/Foundation.cs
  Rx.NET/Source/src/System.Reactive.For.Uwp/System.Reactive.For.Uwp.csproj
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Update preview tag in version.json
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Remove reference to facades\System.Reactive in test projects
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Get correct ref assembly used in P2P refs to System.Reactive
  Rx.NET/Source/facades/System.Reactive.Windows.Forms/System.Reactive.Windows.Forms.csproj
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/TypeForwarders.WindowsRuntime.cs
  Rx.NET/Source/src/System.Reactive.MakeRefAssemblies/System.Reactive.MakeRefAssemblies.csproj
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Strings_PlatformServices.Designer.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Add NuGet readme that got lost
  Rx.NET/Source/src/System.Reactive/build/NuGet.Readme.md
Due: azure-pipelines.rx.yml

Remove frameworkReference from nuspec
  Rx.NET/Source/src/System.Reactive/System.Reactive.nuspec
Due: azure-pipelines.rx.yml

Add missing dependency on System.Reactive.Net to facade
  Rx.NET/Source/facades/System.Reactive/System.Reactive.nuspec
Due: azure-pipelines.rx.yml

Remove the Windows.Desktop.App framework dependency in System.Reactive
  Rx.NET/Source/facades/System.Reactive/System.Reactive.nuspec
Due: azure-pipelines.rx.yml

Set version preview tag to preview-legacyfacade-refnoui-withfxref
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Fix missing TargetPlatformSdkPath
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

Fix crash when eager RefCount crosses min observer threshold more than once
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
Due: azure-pipelines.rx.yml

Bump version since we already released 6.0.1
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Update integration tests to use Rx 6.0.2 preview
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

AsyncObseravableBase: normalized synchronous exceptions thrown by observer methods
  AsyncRx.NET/System.Reactive.Async/AsyncObservableBase.cs
  AsyncRx.NET/System.Reactive.Async/Internal/AsyncObserverEnsureAsyncHelpers.cs
Due: azure-pipelines.asyncrx.yml

Make RefCount tests more comprehensive
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/MySubject.cs
Due: azure-pipelines.rx.yml

Fix RefCount with delayedDisconnect InvalidOperationException bugs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
Due: azure-pipelines.rx.yml

Address compiler messages. Remove commented out code.
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
Due: azure-pipelines.rx.yml

Fix bug in RefCountTests
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
Due: azure-pipelines.rx.yml

Tidy up some comments
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
Due: azure-pipelines.rx.yml

Fix duplicate net8.0 target framework in LinuxTest
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
Due: none

Move a test over to SerialSingleNotificationConnectable
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
Due: azure-pipelines.rx.yml

Add release notes for 6.0.2
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Attempt to fix 9.0 build errors on Linux integration tests
  Rx.NET/Integration/global.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Move 'runtime' setting into right place for Linux tests
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix typo in comment
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
Due: azure-pipelines.rx.yml

Fix RefCount bugs (#2216)
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  Rx.NET/Integration/global.json
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/MySubject.cs
  Rx.NET/Source/version.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix RefCount bugs (#2216)Fix RefCount bugs (#2216)
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  Rx.NET/Integration/global.json
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/src/System.Reactive/Linq/Observable/RefCount.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/RefCountTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/MySubject.cs
  Rx.NET/Source/version.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix merge snafu in preceding cherry pick
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Update version.json to 6.1.0
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
