Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.ix.yml:
  pool:
    vmImage: windows-2019
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core SDK 3.x
    inputs:
      version: 3.0.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  ...

azure-pipelines.rx.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-2019
    variables:
      BuildConfiguration: Release
      BuildPlatform: Any CPU
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    steps:
    - task: UseDotNet@2
      inputs:
        version: 3.0.x
        includePreviewVersions: true
  ...

Update to MIT license
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

move to verify
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/Tests.Api.ApiApprovalTests.Aliases.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/Tests.Api.ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/Tests.Api.ApiApprovalTests.Testing.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/DiffPlexReporter.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Re-enable approvals test
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update LicenseHeaderTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/LicenseHeaderTest.cs
Due: azure-pipelines.rx.yml

update verify
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Aliases.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Testing.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/DiffPlexReporter.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
Due: azure-pipelines.rx.yml

Update Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Add workaround for AssemblyInfo and use non-nightly SDK
  Ix.NET/Source/Directory.build.targets
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/global.json
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Disable ContinusousIntegrationBuild for tests
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Build again without deterministic paths due to https://github.com/tonerdo/coverlet/issues/363
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update azure-pipelines.ix.yml
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Update azure-pipelines.rx.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

rebuild
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Update README.md
  README.md
Due: none

Fix infinite recursive generics in CatchScheduler
  Rx.NET/Source/src/System.Reactive/Concurrency/CatchScheduler.cs
Due: azure-pipelines.rx.yml

Update version.json
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

set stable
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

set stable
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Link Code of Conduct
  CODE-OF-CONDUCT.md
Due: none

Don't add duplicate FrameworkReference
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.targets
Due: azure-pipelines.rx.yml

bump versions
  Ix.NET/Source/version.json
  Rx.NET/Source/version.json
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Add EqualityComparer<T> support in ReactiveAssert.
  Rx.NET/Source/src/Microsoft.Reactive.Testing/ReactiveAssert.cs
Due: azure-pipelines.rx.yml

Update API approval tests.
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Testing.verified.cs
Due: azure-pipelines.rx.yml

Fix API approvals code.
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/DiffPlexReporter.cs
Due: azure-pipelines.rx.yml

Fix approvals.
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Testing.verified.cs
Due: azure-pipelines.rx.yml

Fix bad merge.
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Modernize some code.
  Rx.NET/Source/src/System.Reactive/Internal/Helpers.cs
  Rx.NET/Source/src/System.Reactive/Internal/Lookup.cs
  Rx.NET/Source/src/System.Reactive/Internal/PlatformEnlightenmentProvider.cs
  Rx.NET/Source/src/System.Reactive/Internal/ScheduledObserver.cs
  Rx.NET/Source/src/System.Reactive/Internal/Sink.cs
  Rx.NET/Source/src/System.Reactive/Internal/StopwatchImpl.cs
  Rx.NET/Source/src/System.Reactive/Internal/TailRecursiveSink.cs
  Rx.NET/Source/src/System.Reactive/ListObservable.cs
  Rx.NET/Source/src/System.Reactive/Notification.cs
  Rx.NET/Source/src/System.Reactive/Runtime/CompilerServices/TaskObservableMethodBuilder.cs
  Rx.NET/Source/src/System.Reactive/Threading/Tasks/TaskObservableExtensions.cs
Due: azure-pipelines.rx.yml

Reduce #if checks.
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/src/System.Reactive/Internal/Constants.cs
  Rx.NET/Source/src/System.Reactive/Internal/HalfSerializer.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Async.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Blocking.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Imperative.cs
  Rx.NET/Source/src/System.Reactive/Platforms/Desktop/Linq/Observable.Remoting.cs
  Rx.NET/Source/src/System.Reactive/Platforms/Desktop/Linq/QueryLanguage.Remoting.cs
  Rx.NET/Source/src/System.Reactive/Threading/Tasks/TaskObservableExtensions.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/DefaultConcurrencyAbstractionLayerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/ObservableRemotingTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/SystemClockTest.cs
Due: azure-pipelines.rx.yml

Reduce legacy reflection stuff.
  Rx.NET/Source/src/System.Reactive/Internal/CurrentPlatformEnlightenmentProvider.cs
  Rx.NET/Source/src/System.Reactive/Internal/ReflectionUtils.cs
Due: azure-pipelines.rx.yml

Remove a bit more.
  Rx.NET/Source/src/System.Reactive/Internal/ReflectionUtils.cs
Due: azure-pipelines.rx.yml

Split out generated code into separate files.
  Rx.NET/Source/src/System.Reactive/Joins/Pattern.Generated.cs
  Rx.NET/Source/src/System.Reactive/Joins/Pattern.cs
  Rx.NET/Source/src/System.Reactive/Joins/QueryablePattern.Generated.cs
  Rx.NET/Source/src/System.Reactive/Joins/QueryablePattern.cs
  Rx.NET/Source/src/System.Reactive/Joins/QueryablePlan.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.CombineLatest.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.CombineLatest.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.Zip.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.cs
Due: azure-pipelines.rx.yml

Use T4 to generate Zip and CombineLatest code.
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.CombineLatest.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.CombineLatest.tt
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.Zip.tt
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.CombineLatest.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.CombineLatest.tt
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.Zip.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.Zip.tt
Due: azure-pipelines.rx.yml

Add missing project edits.
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Add T4 for patterns.
  Rx.NET/Source/src/System.Reactive/Joins/Pattern.Generated.cs
  Rx.NET/Source/src/System.Reactive/Joins/Pattern.tt
  Rx.NET/Source/src/System.Reactive/Joins/QueryablePattern.Generated.cs
  Rx.NET/Source/src/System.Reactive/Joins/QueryablePattern.tt
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Generate Zip and CombineLatest query language members using T4.
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.tt
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
