Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

azure-pipelines.asyncrx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 7.0.x SDK
  ...

azure-pipelines.ix.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core 6.x SDK
        inputs:
          version: 6.x
      - task: UseDotNet@2
        displayName: .NET Core 5.0 runtime
        inputs:
          version: 5.0.x
  ...

azure-pipelines.rx.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      variables:
        BuildConfiguration: Release
        BuildPlatform: Any CPU
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      steps:
      - task: UseDotNet@2
        displayName: Use .NET 8.0.x SDK
        inputs:
  ...

Deal with new diagnostics in 9.0 SDK
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Program.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Notification.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/ControlSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/DispatcherSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Disposables/DisposableTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/CombineLatestTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ConcatTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/DelayTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ForTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/OnErrorResumeNextTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SequenceEqualTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/SingleAsyncTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ZipTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/QbservableTest.cs
Due: azure-pipelines.rx.yml

Enable UseDotNet includePreviewVersions for .NET 9.0
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Try commenting out the UseDotNet for .NET 8.0
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Remove MSBuild.Sdk.Extras
  Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/facades/System.Reactive.Core/System.Reactive.Core.csproj
  Rx.NET/Source/facades/System.Reactive.Interfaces/System.Reactive.Interfaces.csproj
  Rx.NET/Source/facades/System.Reactive.Linq/System.Reactive.Linq.csproj
  Rx.NET/Source/facades/System.Reactive.PlatformServices/System.Reactive.PlatformServices.csproj
  Rx.NET/Source/facades/System.Reactive.Providers/System.Reactive.Providers.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/System.Reactive.Windows.Threading.csproj
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
  Rx.NET/Source/global.json
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/Notification.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Change from msbuild to dotnet build
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Set TargetPlatformSdkPath manually
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Stupid YAML string quotation rules...
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Add missing -p
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

One more try with YAML string escaping
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Set build configuration via argument
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Try setting TargetPlatformSdkPath as environment variable, since the DotNetCoreCli task seems intent on rewriting quotes in ways I don't want.
  .editorconfig
  Rx.NET/Source/src/.editorconfig
  azure-pipelines.rx.yml
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Remove .net 6.0 from tests. Install .NET 8.0 in build pipeline (so tests can use it)
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update Microsoft test package versions
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Add .NET 8.0 SDK install
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix typo in ADR
  Rx.NET/Documentation/adr/0003-windows-tfms-and-desktop-framework.md
Due: none

Fix another typo in ADR
  Rx.NET/Documentation/adr/0003-windows-tfms-and-desktop-framework.md
Due: none

Revert spurious blank line at end of root .editorconfig
  .editorconfig
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Update to Microsoft.NETCore.UniversalWindowsPlatform 6.2.14
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
Due: azure-pipelines.rx.yml

Relocate Rx.NET .editorconfig
  Rx.NET/Source/.editorconfig
  Rx.NET/Source/System.Reactive.sln
Due: azure-pipelines.rx.yml

Update Nerdbank.GitVersioning to 3.6.143
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

Update packaging ADR after read through
  Rx.NET/Documentation/adr/0003-windows-tfms-and-desktop-framework.md
Due: none

Feature Add DisposeWith
  Rx.NET/Source/src/System.Reactive/Disposables/DisposableMixins.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Disposables/DisposableTests.cs
Due: azure-pipelines.rx.yml

Update API test
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

adding ObservableDisposable
  Rx.NET/Source/src/System.Reactive/Disposables/ObservableDisposable.cs
Due: azure-pipelines.rx.yml

add tests
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Disposables/DisposableTests.cs
Due: azure-pipelines.rx.yml

Enable AsyncGateRelease to work with either another IDisposable or an IAsyncGate.
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncGateReleaser.cs
Due: azure-pipelines.asyncrx.yml

Implementing TakeUntil with CancellationToken
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Multiple.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/TakeUntilCancellationToken.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Multiple.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/TakeUntilTest.cs
Due: azure-pipelines.rx.yml

Suggested fixes for Issue #2184
  Rx.NET/Documentation/IntroToRx/D_AlgebraicUnderpinnings.md
Due: none

Update 02_KeyTypes.md
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
Due: none

Update Namespace, extend CompositeDisposable
  Rx.NET/Source/src/System.Reactive/Disposables/DisposableMixins.cs
  Rx.NET/Source/src/System.Reactive/Disposables/Fluent/DisposableExtensions.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Disposables/DisposableTests.cs
Due: azure-pipelines.rx.yml

Update Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
Due: none

Suggested fixes for Issue #2184 (#2185)
  Rx.NET/Documentation/IntroToRx/D_AlgebraicUnderpinnings.md
Due: none

Update 02_KeyTypes.md (#2189)
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
Due: none

Fix AsyncRx GroupByUntil double OnCompletedAsync bug
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/GroupByUntil.cs
Due: azure-pipelines.asyncrx.yml

Update asyncrx pipeline .NET SDK versions
  azure-pipelines.asyncrx.yml
Due: azure-pipelines.asyncrx.yml

Fix double remove in OnErrorAsync
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/GroupByUntil.cs
Due: azure-pipelines.asyncrx.yml

Ensure observer only gets either completion or error, and only once
  AsyncRx.NET/System.Reactive.Async/Linq/Operators/GroupByUntil.cs
Due: azure-pipelines.asyncrx.yml

Add Debug (UWP) config, and prevent UWP test runner building in normal Debug
  Rx.NET/Source/System.Reactive.sln
Due: azure-pipelines.rx.yml

Fix bug where short-time Schedule ran synchronously
  Rx.NET/Source/src/System.Reactive/Concurrency/TaskPoolScheduler.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/TaskPoolSchedulerTest.cs
Due: azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml
