Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Use Microsoft.Bcl.AsyncInterfaces
  Ix.NET/Source/Directory.build.props
  Ix.NET/Source/Directory.build.targets
  Ix.NET/Source/NuGet.config
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Collections/Generic/IAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Generic/IAsyncEnumerator.cs
  Ix.NET/Source/System.Linq.Async/System/IAsyncDisposable.cs
  Ix.NET/Source/System.Linq.Async/System/Runtime/CompilerServices/AsyncIteratorMethodBuilder.cs
  Ix.NET/Source/System.Linq.Async/System/Runtime/CompilerServices/ConfiguredAsyncDisposable.cs
  Ix.NET/Source/System.Linq.Async/System/Runtime/CompilerServices/ConfiguredCancelableAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Threading/Tasks/Sources/ManualResetValueTaskSourceCore.cs
  Ix.NET/Source/global.json
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
Due: azure-pipelines.ix.yml

Adds virtual scheduler bits
  AsyncRx.NET/AsyncRx.NET.sln
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/HotAsyncObservable.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ITestableAsyncObservable.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ITestableAsyncObserver.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/Microsoft.Reactive.Async.Testing.csproj
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/MockAsyncObserver.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ReactiveTest.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/Recorded.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/Subscription.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/TestAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System.Reactive.Async.Concurrency.csproj
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/AsyncSchedulerBase.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/Internal/PriorityQueue.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/Internal/ScheduledItem.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/Internal/SchedulerQueue.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/PriorityQueueVirtualTimeAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/VirtualTimeAsyncScheduler.cs
  AsyncRx.NET/Tests.System.Reactive.Async.Concurrency/Tests.System.Reactive.Async.Concurrency.csproj
  AsyncRx.NET/Tests.System.Reactive.Async.Concurrency/VirtualTimeAsyncSchedulerTests.cs
  AsyncRx.NET/Tests.System.Reactive.Async/Fx/ReactiveAssert.cs
  AsyncRx.NET/Tests.System.Reactive.Async/Tests.System.Reactive.Async.Linq.csproj
  AsyncRx.NET/Tests.System.Reactive.Async/ThrottleTests.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ThrottleTest.cs
Due: azure-pipelines.rx.yml

Adds ICancelable for IsDisposed checking
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/HotAsyncObservable.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/Internal/ScheduledItem.cs
  AsyncRx.NET/System.Reactive.Async.Disposables/System/Reactive/Disposables/IAsyncCancelable.cs
  AsyncRx.NET/System.Reactive.Async.Disposables/System/Reactive/Disposables/SingleAssignmentAsyncDisposable.cs
  AsyncRx.NET/Tests.System.Reactive.Async/ThrottleTests.cs
Due: none

Removes placeholder test
  AsyncRx.NET/Tests.System.Reactive.Async/ThrottleTests.cs
Due: none

Adds more ConfigureAwait(false)s
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/TestAsyncScheduler.cs
Due: none

Fixes throttling
  AsyncRx.NET/System.Reactive.Async.Linq/System/Reactive/Linq/Operators/Throttle.cs
Due: none

Remove unused generator
  AsyncRx.NET/Tests.System.Reactive.Async/ThrottleTests.cs
Due: none

Cleans up namespaces, licenses
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/HotAsyncObservable.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ITestableAsyncObservable.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ITestableAsyncObserver.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/Microsoft.Reactive.Async.Testing.csproj
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/MockAsyncObserver.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ReactiveTest.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/Recorded.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/Subscription.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/TestAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/Internal/ScheduledItem.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/PriorityQueueVirtualTimeAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/VirtualTimeAsyncScheduler.cs
  AsyncRx.NET/Tests.System.Reactive.Async.Concurrency/Tests.System.Reactive.Async.Concurrency.csproj
  AsyncRx.NET/Tests.System.Reactive.Async.Concurrency/VirtualTimeAsyncSchedulerTests.cs
  AsyncRx.NET/Tests.System.Reactive.Async/Fx/ReactiveAssert.cs
  AsyncRx.NET/Tests.System.Reactive.Async/Tests.System.Reactive.Async.Linq.csproj
  AsyncRx.NET/Tests.System.Reactive.Async/ThrottleTests.cs
Due: none

Consolidate test project properties and libraries
  AsyncRx.NET/AsyncRx.NET.sln
  AsyncRx.NET/Tests.System.Reactive.Async/Tests.System.Reactive.Async.Linq.csproj
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Concurrency/Tests.System.Reactive.Async.Concurrency.csproj
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Concurrency/VirtualTimeAsyncSchedulerTests.cs
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Disposables/Tests.System.Reactive.Async.Disposables.csproj
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Linq/Fx/ReactiveAssert.cs
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Linq/Tests.System.Reactive.Async.Linq.csproj
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Linq/ThrottleTests.cs
  AsyncRx.NET/tests/Tests.props
Due: none

More ConfigureAwait(false)s
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/TestAsyncScheduler.cs
Due: none

Not actual partial, thanks
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/AsyncSchedulerBase.cs
Due: none

Adds tests for SingleAssignmentAsyncDisposable
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Disposables/SingleAssignmentDisposableTests.cs
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Disposables/Tests.System.Reactive.Async.Disposables.csproj
Due: none

Removes empty lines
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/TestAsyncScheduler.cs
Due: none

Removes more empty lines
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/PriorityQueueVirtualTimeAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/VirtualTimeAsyncScheduler.cs
Due: none

Moves ReactiveAssert into Microsoft.Reactive.Async.Testing and adds xunit.assert.source
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/Microsoft.Reactive.Async.Testing.csproj
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ReactiveAssert.cs
  AsyncRx.NET/tests/Tests.System.Reactive.Async.Linq/ThrottleTests.cs
Due: none

Updates null-checking code style to match existing
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/HotAsyncObservable.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ReactiveAssert.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/ReactiveTest.cs
  AsyncRx.NET/Microsoft.Reactive.Async.Testing/TestAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/PriorityQueueVirtualTimeAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async.Concurrency/System/Reactive/Concurrency/VirtualTimeAsyncScheduler.cs
Due: none

Reverts test test 😅
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ThrottleTest.cs
Due: azure-pipelines.rx.yml

Fixes throttling by passing through dueTime
  AsyncRx.NET/System.Reactive.Async.Linq/System/Reactive/Linq/Operators/Throttle.cs
Due: none

Build against preview 5
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Bump to preview 3
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Update to preview 5 and remove extra .net core install
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fixed link to RxPy in readme
  README.md
Due: none

Local functions can shadow variables now.
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IsEmpty.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Aggregate.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/All.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Any.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Contains.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Count.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ElementAt.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ElementAtOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/First.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/FirstOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ForEach.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Last.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LastOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LongCount.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SequenceEqual.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Single.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SingleOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToList.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToLookup.cs
Due: azure-pipelines.ix.yml

Use null-coalescing assignment.
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/DistinctUntilChanged.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/MinBy.cs
Due: azure-pipelines.ix.yml

Remove dead code of hand-rolled iterators.
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Amb.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Buffer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Catch.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Defer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/DistinctUntilChanged.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Do.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Expand.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Finally.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Generate.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IgnoreElements.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Merge.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Using.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Cast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Except.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Intersect.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OfType.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
Due: azure-pipelines.ix.yml

Some minor cleanup.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Intersect.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SequenceEqual.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
Due: azure-pipelines.ix.yml

Enable nullable context in generated files.
  Ix.NET/Source/AsyncQueryableGenerator.t4
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.Generated.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.cs
Due: azure-pipelines.ix.yml

Use locks in MostRecent for types of TSource that cannot be read or written atomically.
  Rx.NET/Source/src/System.Reactive/Linq/Observable/MostRecent.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/MostRecentTest.cs
Due: azure-pipelines.rx.yml

Use using declarations.
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Catch.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/DistinctUntilChanged.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Do.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IsEmpty.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Timeout.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Using.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerableHelpers.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Aggregate.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Any.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/AppendPrepend.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderedAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SequenceEqual.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Single.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
Due: azure-pipelines.ix.yml

Modernize some Ix code.
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Catch.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Create.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Do.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Expand.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Finally.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/For.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/ForEach.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Generate.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Hide.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/If.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/IsEmpty.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/OnErrorResumeNext.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Publish.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Share.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/StartsWith.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Throw.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Using.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/While.cs
  Ix.NET/Source/System.Interactive/System/Linq/RefCountList.cs
  Ix.NET/Source/System.Interactive/System/Linq/Yielder.cs
Due: azure-pipelines.ix.yml

Use T4 to generate System.Interactive.Providers surface area.
  Ix.NET/Source/QueryableGenerator.t4
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive.Providers/System/Linq/QueryableEx.Generated.cs
  Ix.NET/Source/System.Interactive.Providers/System/Linq/QueryableEx.Generated.tt
  Ix.NET/Source/System.Interactive.Providers/System/Linq/QueryableEx.cs
Due: azure-pipelines.ix.yml

Remove crippled reflection support.
  Ix.NET/Source/System.Interactive.Providers/Reflection.cs
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
Due: azure-pipelines.ix.yml

Aim a little higher with targets.
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
Due: azure-pipelines.ix.yml

Clean up build flavors.
  Ix.NET/Source/refs/System.Interactive.Providers.Ref/System.Interactive.Providers.Ref.csproj
  Ix.NET/Source/refs/System.Interactive.Ref/System.Interactive.Ref.csproj
Due: azure-pipelines.ix.yml

Clean up AssemblyInfo.cs files
  Ix.NET/Source/System.Linq.Async.Queryable/Properties/AssemblyInfo.cs
  Ix.NET/Source/System.Linq.Async/Properties/AssemblyInfo.cs
Due: azure-pipelines.ix.yml

Revert "Remove crippled reflection support."
  Ix.NET/Source/System.Interactive.Providers/Reflection.cs
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
Due: azure-pipelines.ix.yml

Revert "Aim a little higher with targets."
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
Due: azure-pipelines.ix.yml

Revert "Clean up build flavors."
  Ix.NET/Source/refs/System.Interactive.Providers.Ref/System.Interactive.Providers.Ref.csproj
  Ix.NET/Source/refs/System.Interactive.Ref/System.Interactive.Ref.csproj
Due: azure-pipelines.ix.yml
