Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Fix typo in UAP build ADR.
  Rx.NET/Documentation/adr/0003-uap-targets.md
Due: none

Renumber APIs after merge from main added existing 0004
  Rx.NET/Documentation/adr/0005-package-split.md
  Rx.NET/Documentation/adr/0006-uwp-legacy-threadpoolscheduler-in-facade.md
  Rx.NET/Documentation/adr/0007-api-compatibility-verification.md
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update Windows.winmd ref to 10.0.26100 for Uwp project
  Rx.NET/Source/src/System.Reactive.For.Uwp/System.Reactive.For.Uwp.csproj
Due: azure-pipelines.rx.yml

More updates for Windows.winmd moving to 10.0.26100
  Rx.NET/Source/src/System.Reactive.For.WindowsRuntime/System.Reactive.For.WindowsRuntime.csproj
  Rx.NET/Source/src/System.Reactive.MakeRefAssemblies/System.Reactive.MakeRefAssemblies.csproj
Due: azure-pipelines.rx.yml

Add v7 release history doc
  Rx.NET/Documentation/ReleaseHistory/Rx.v7.md
Due: none

Remove duplicate PackageReference in ApiApprovals
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Deal with ADR loose ends
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
Due: none

Be consistent with target frameworks
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Any.cs
  Ix.NET/Source/refs/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Upgrade to xunit 2.9.3, FluentAssertions 7.2.0
  Ix.NET/Source/Directory.Build.props
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/AsyncTests.Bugs.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Amb.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Timeout.cs
  Ix.NET/Source/System.Interactive.Async.Tests/TaskExtTests.cs
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Range.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Reverse.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Skip.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Take.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async.Tests/ValueTaskHelpers.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Upgrade to Nerdbank.GitVersioning 3.8.118
  Ix.NET/Source/Directory.Build.props
Due: azure-pipelines.ix.yml

Upgrade to IsExternalInit 1.0.3
  Ix.NET/Source/System.Linq.Async.SourceGenerator/System.Linq.Async.SourceGenerator.csproj
Due: azure-pipelines.ix.yml

Update to BenchmarkDotNet 0.15.4
  Ix.NET/Source/Benchmarks.System.Interactive/Benchmarks.System.Interactive.csproj
Due: azure-pipelines.ix.yml

Revert "Upgrade to xunit 2.9.3, FluentAssertions 7.2.0"
  Ix.NET/Source/Directory.Build.props
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/AsyncTests.Bugs.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Amb.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Timeout.cs
  Ix.NET/Source/System.Interactive.Async.Tests/TaskExtTests.cs
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Range.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Reverse.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Skip.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Take.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async.Tests/ValueTaskHelpers.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Update Ix.NET dependencies (#2249)
  Ix.NET/Source/Benchmarks.System.Interactive/Benchmarks.System.Interactive.csproj
  Ix.NET/Source/Directory.Build.props
  Ix.NET/Source/System.Linq.Async.SourceGenerator/System.Linq.Async.SourceGenerator.csproj
Due: azure-pipelines.ix.yml

Update coverlet, remove unneeded BCL interfaces ref, update verified API files
  Ix.NET/Source/Directory.Build.props
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractive.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveProviders.verified.cs
Due: azure-pipelines.ix.yml

Update to PublicApiGenerator 11.4.6
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractive.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveProviders.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsyncQueryable.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Update Microsoft.NET.Test.Sdk to 18.0.0
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Upgrade xunit to 2.9.3 for remaining projects
  Ix.NET/Source/System.Interactive.Async.Tests/AsyncTests.Bugs.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Amb.cs
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Timeout.cs
  Ix.NET/Source/System.Interactive.Async.Tests/TaskExtTests.cs
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Range.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Reverse.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Skip.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Take.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async.Tests/ValueTaskHelpers.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Upgrade Verify.Xunit to 30.20.1
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Update xunit.runner.visualstudio to 3.1.5
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
Due: azure-pipelines.ix.yml

Fix typo in comment
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Remove commented out PackageReference
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Replace TODO comment with explanation
  Ix.NET/Source/System.Linq.Async/System/Linq/IAsyncGrouping.cs
Due: azure-pipelines.ix.yml

Fix condition in documentation example
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none

Realign System.Linq.Async ref assembly with lib
  Ix.NET/Source/refs/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Fix typo 'usef' -> 'used'
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.tt
Due: azure-pipelines.ix.yml

Clarify ADR on `ToObservable
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
Due: none

Config and filename adjustments, to allow for building on Linux.
  AsyncRx.NET/Directory.Build.props
  Ix.NET/Documentation/adr/0001-Ix-Ref-Assembly-Mismatches.md
  Ix.NET/Source/Ix.Async.NET.sln
  Ix.NET/Source/Ix.NET.sln
  Rx.NET/Documentation/adr/0001-net7.0-era-tooling-update.md
  Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Source/Directory.Build.props
  Rx.NET/Source/Directory.Build.targets
  Rx.NET/Source/System.Reactive.sln
  Rx.NET/Source/facades/Directory.Build.props
  Rx.NET/Source/facades/Directory.Build.targets
  Rx.NET/Source/facades/Directory.build.targets
  Rx.NET/Source/src/Directory.Build.props
  Rx.NET/Source/src/Directory.Build.targets
  Rx.NET/Source/src/Directory.build.props
  Rx.NET/Source/src/Directory.build.targets
  Rx.NET/Source/tests/Directory.Build.props
  Rx.NET/Source/tests/Directory.Build.targets
Due: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Added a new overload for `.Synchronize()` utilizing the new .NET 9 Lock class.
  Rx.NET/Source/Directory.Build.targets
  Rx.NET/Source/src/System.Reactive/Concurrency/Synchronization.Synchronize.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/Synchronization.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/SynchronizationTest.cs
Due: azure-pipelines.rx.yml

Fix reentrant DisposeAsync
  AsyncRx.NET/System.Reactive.Async/AsyncObservableBase.cs
Due: azure-pipelines.asyncrx.yml

removed unused class
  AsyncRx.NET/System.Reactive.Async/Internal/AsyncObserverEnsureAsyncHelpers.cs
Due: azure-pipelines.asyncrx.yml

added a ConfigureAwait(false)
  AsyncRx.NET/System.Reactive.Async/AsyncObservableBase.cs
Due: azure-pipelines.asyncrx.yml

used local variable instead class field
  AsyncRx.NET/System.Reactive.Async/AsyncObservableBase.cs
Due: azure-pipelines.asyncrx.yml

Fix typos in docs
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none

Fix condition in documentation example (#2251)
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none

Modify OfType to accept nullable input element type
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.StandardSequenceOperators.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.StandardSequenceOperators.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/OfTypeTest.cs
Due: azure-pipelines.rx.yml

Modify OfType to accept nullable input element type (#2260)
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.StandardSequenceOperators.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.StandardSequenceOperators.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/OfTypeTest.cs
Due: azure-pipelines.rx.yml

Fix typos in docs (v2)
  Rx.NET/Documentation/IntroToRx/02_KeyTypes.md
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none
