Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Update to .NET 10.0, add System.Linq.AsyncEnumerable refs
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/Benchmarks.System.Interactive/Benchmarks.System.Interactive.csproj
  Ix.NET/Source/FasterLinq/FasterLinq.csproj
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Async/System/Linq/IAsyncIListProvider.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerablePartition.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncIterator.Opt.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncListPartition.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/IAsyncGrouping.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/IOrderedAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Aggregate.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Grouping.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Lookup.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderedAsyncEnumerable.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Tests.System.Interactive.ApiApprovals.csproj
  Ix.NET/Source/refs/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Fix ref assembly build
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/Properties/launchSettings.json
  Ix.NET/Source/System.Linq.Async.SourceGenerator/System.Linq.Async.SourceGenerator.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncIterator.Opt.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/IOrderedAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Aggregate.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/All.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Any.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/AppendPrepend.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Grouping.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Lookup.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.cs
  Ix.NET/Source/refs/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Handle AverageAsync migration
  Ix.NET/Documentation/adr/0002-System-Linq-Async-In-Net10.md
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/AsAsyncEnumerable.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/Properties/launchSettings.json
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Update operators as far as Min
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Any.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Cast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Contains.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Count.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/DefaultIfEmpty.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Distinct.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ElementAt.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ElementAtOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Empty.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Except.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/First.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/FirstOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ForEach.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Intersect.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Last.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LastOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LongCount.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.tt
Due: azure-pipelines.ix.yml

Handle remaining operators
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/AsAsyncEnumerable.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Disposables.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/ToAsyncEnumerable.Task.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/ToObservable.cs
  Ix.NET/Source/System.Interactive.Async/TaskExt.cs
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OfType.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Range.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Reverse.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SequenceEqual.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Single.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SingleOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Skip.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Take.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToArray.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToList.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToLookup.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.received.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsyncProviders.received.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.received.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsyncQueryable.received.cs
Due: azure-pipelines.ix.yml

Update pipeline to use .NET 10.0 SDK
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Set includePreviewVersions on .net 10 step
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Update approved APIs. Fix code gen discrepancies.
  Ix.NET/Source/System.Interactive.Async/System/Linq/IAsyncIListProvider.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/IAsyncIListProvider.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.received.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsyncProviders.received.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemInteractiveAsyncProviders.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.received.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsync.verified.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsyncQueryable.received.cs
  Ix.NET/Source/Tests.System.Interactive.ApiApprovals/Api/ApiApprovalTests.SystemLinqAsyncQueryable.verified.cs
Due: azure-pipelines.ix.yml

Align ref and lib target frameworks
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/refs/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/refs/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/refs/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Update version to v7.0
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Add temporary script step to work out what changed on build agent
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Cast net wider with powershell search
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Get more selective with the hunt for Windows.winmd
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Try not setting TargetPlatformSdkPath, to see whether recently modified path detection in build works on agent
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Minor edits to exceptions ADR
  Rx.NET/Documentation/adr/0004-onerror-to-throw.md
Due: none

Update UWP hack to use 10.0.22621 SDK
  Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/MaxTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/MinTest.cs
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Add file missed in preceding commit
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Oops. SDK 26100, not 22621!
  Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

CaptureExceptionDispatchState IQbservable support
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/tools/HomoIcon/HomoIcon.csproj
  Rx.NET/tools/HomoIcon/app.config
Due: azure-pipelines.rx.yml

Add CaptureExceptionDispatchState to verified API
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Remove debug and old SDK path steps from pipeline
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Rename CaptureExceptionDispatchState to ResetExceptionDispatchState
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Documentation/adr/0004-onerror-to-throw.md
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Single.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/ResetExceptionDispatchState.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Single.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ResetExceptionDispatchStateTest.cs
Due: azure-pipelines.rx.yml

Fix position of operator in verified API
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

Add comments explaining the AsEnumerable addition to MinTest and MaxTest
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/MaxTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/MinTest.cs
Due: azure-pipelines.rx.yml

Add ResetExceptionDispatchState operator and document exception reuse limitations (#2237)
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Documentation/adr/0003-uap-targets.md
  Rx.NET/Documentation/adr/0004-onerror-to-throw.md
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/Linq/IQueryLanguage.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Single.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/ResetExceptionDispatchState.cs
  Rx.NET/Source/src/System.Reactive/Linq/Qbservable.Generated.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Single.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/MaxTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/MinTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ResetExceptionDispatchStateTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ThrowTest.cs
  Rx.NET/tools/HomoIcon/HomoIcon.csproj
  Rx.NET/tools/HomoIcon/app.config
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update IntroToRx for ResetExceptionDispatchState
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
  Rx.NET/Documentation/IntroToRx/13_LeavingIObservable.md
  Rx.NET/Documentation/IntroToRx/15_PublishingOperators.md
  Rx.NET/Documentation/adr/0004-onerror-to-throw.md
Due: none

Add TakeUntil(Cancellation) docs
  Rx.NET/Documentation/IntroToRx/05_Filtering.md
Due: none

Add DisposeWith documentation
  Rx.NET/Documentation/IntroToRx/B_Disposables.md
Due: none

Update Foreword to refer to 6.1
  Rx.NET/Documentation/IntroToRx/00_Foreword.md
Due: none

Update version to 6.1
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Fix 'in into' typos
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
  Rx.NET/Documentation/IntroToRx/15_PublishingOperators.md
Due: none

Add edition history to foreword
  Rx.NET/Documentation/IntroToRx/00_Foreword.md
Due: none

Update IntroToRx for Rx 6.1 (#2242)
  Rx.NET/Documentation/IntroToRx/00_Foreword.md
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
  Rx.NET/Documentation/IntroToRx/05_Filtering.md
  Rx.NET/Documentation/IntroToRx/13_LeavingIObservable.md
  Rx.NET/Documentation/IntroToRx/15_PublishingOperators.md
  Rx.NET/Documentation/IntroToRx/B_Disposables.md
  Rx.NET/Documentation/adr/0004-onerror-to-throw.md
Due: none

Update test packages
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/System.Reactive.Analyzers.Test.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update DiffPlex and PublicApiGenerator
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Aliases.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update Verify.XUnit and xunit runner
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
Due: azure-pipelines.rx.yml

Update BenchmarkDotNet
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update Nerdbank.GitVersioning
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

Remove spuriously included csproj
  Rx.NET/Source/src/System.Reactive.Analyzers.Test/System.Reactive.Analyzers.Test.csproj
Due: azure-pipelines.rx.yml

Update dependencies in Rx.NET (#2244)
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Benchmarks.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Aliases.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml
