Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Clean up [First|Last][OrDefault] tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/First.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/FirstOrDefault.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Last.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/LastOrDefault.cs
Due: azure-pipelines.ix.yml

Clean up [Ap|Pre]pend tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Append.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Prepend.cs
Due: azure-pipelines.ix.yml

Clean up Cast and OfType tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Cast.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/OfType.cs
Due: azure-pipelines.ix.yml

Clean up Concat tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Concat.cs
Due: azure-pipelines.ix.yml

Clean up Distinct tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Distinct.cs
Due: azure-pipelines.ix.yml

Improve tests for To*.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToArray.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToHashSet.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToList.cs
Due: azure-pipelines.ix.yml

Clean up [Skip|Take]Last tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/TakeLast.cs
Due: azure-pipelines.ix.yml

Clean up tests for ToAsyncEnumerable.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToAsyncEnumerable.cs
Due: azure-pipelines.ix.yml

Clean up tests for Zip.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Zip.cs
Due: azure-pipelines.ix.yml

Clean up tests for Throw.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Throw.cs
Due: azure-pipelines.ix.yml

Fix System.Interactive.Providers
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
Due: azure-pipelines.ix.yml

Fixing System.Interactive.Providers.Ref
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/refs/System.Interactive.Providers.Ref/System.Interactive.Providers.Ref.csproj
Due: azure-pipelines.ix.yml

update link
  README.md
Due: none

Update visibility on AsyncEnumberableExtensions to hideit from the ref on .NET Standard 2.1
  Ix.NET/Source/System.Linq.Async/System/Threading/Tasks/AsyncEnumerableExtensions.cs
Due: azure-pipelines.ix.yml

Generic API surface for async overloads.
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.tt
Due: azure-pipelines.ix.yml

Introduce a single place where all public async overloads are maintained to evaluate design options using a single SUPPORT_FLAT_ASYNC_API flag.
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Aggregate.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/All.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Any.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Count.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/First.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/FirstOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ForEach.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/GroupJoin.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Join.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Last.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LastOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LongCount.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/MinMax.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Single.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SingleOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToLookup.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
Due: azure-pipelines.ix.yml

Fix optional parameters for async overloads
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.tt
Due: azure-pipelines.ix.yml

Update README.md
  README.md
Due: none

bump to preview 2 for ixnet
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Fix InvalidOp when enumerating the SystemClockChanged hashset
  Rx.NET/Source/src/System.Reactive/Internal/SystemClock.cs
Due: azure-pipelines.rx.yml

Add test verifying the fix
  Rx.NET/Source/src/System.Reactive/Concurrency/LocalScheduler.TimerQueue.cs
  Rx.NET/Source/src/System.Reactive/Internal/SystemClock.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/SystemClockTest.cs
Due: azure-pipelines.rx.yml

ver 4.1.4
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

remove vs2019 preview workaround
  azure-pipelines.ix.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.ix.yml, azure-pipelines.rx.yml

update test sdk
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Fix wrong usage of ISchedulerLongRunning in ObserveOn
  Rx.NET/Source/src/System.Reactive/Concurrency/Synchronization.ObserveOn.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/Synchronization.cs
  Rx.NET/Source/src/System.Reactive/Internal/ScheduledObserver.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ObserveOnTest.cs
Due: azure-pipelines.rx.yml

v4.1.5
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Update Behavior/ReplaySubject to more eagerly handle disposed observers
  Rx.NET/Source/src/System.Reactive/Subjects/BehaviorSubject.cs
  Rx.NET/Source/src/System.Reactive/Subjects/ReplaySubject.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Subjects/AsyncSubjectTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Subjects/BehaviorSubjectTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Subjects/ReplaySubjectTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Subjects/SubjectTest.cs
Due: azure-pipelines.rx.yml

Remove accidental import
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Subjects/BehaviorSubjectTest.cs
Due: azure-pipelines.rx.yml

add transparency
  Rx.NET/Resources/Artwork/Logo_Color_300x300.png
Due: none

Publish individual coverage reports
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Publish consolidated report
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Update dependencies
  Ix.NET/Source/Benchmarks.System.Interactive/Benchmarks.System.Interactive.csproj
  Ix.NET/Source/Directory.build.props
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
Due: azure-pipelines.ix.yml

coverlet 2.5.1
  Ix.NET/Source/Directory.build.props
Due: azure-pipelines.ix.yml

Use Array.Sort instead of QuickSort.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/OrderBy.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OrderedAsyncEnumerable.cs
Due: azure-pipelines.ix.yml

Simplified BaseBlocking, FirstBlocking, and LastBlocking Switched BaseBlocking<T> to derive from ManualResetEventSlim, which is sufficient for the task at hand
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FirstLastBlocking.cs
  Rx.NET/Source/src/System.Reactive/Linq/QueryLanguage.Blocking.cs
Due: azure-pipelines.rx.yml

Reduced redundant null checks
  Rx.NET/Source/src/System.Reactive/AnonymousObserver.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/AsyncLock.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/ImmediateScheduler.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/LocalScheduler.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/Scheduler.Recursive.cs
  Rx.NET/Source/src/System.Reactive/Concurrency/TaskPoolScheduler.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Binding.cs
  Rx.NET/Source/src/System.Reactive/Observable.Extensions.cs
  Rx.NET/Source/src/System.Reactive/Observer.Extensions.cs
  Rx.NET/Source/src/System.Reactive/Platforms/UWP/Concurrency/CoreDispatcherScheduler.cs
  Rx.NET/Source/src/System.Reactive/Threading/Tasks/TaskObservableExtensions.cs
Due: azure-pipelines.rx.yml
