Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

revert netstandard2.1
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Update deps
  Ix.NET/Source/Benchmarks.System.Interactive/Benchmarks.System.Interactive.csproj
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
Due: azure-pipelines.ix.yml

Update to latest FluentAssertions
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/AsyncEnumerableExTests.cs
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/AsyncEnumerableTests.cs
Due: azure-pipelines.ix.yml

Fix assert
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/AsyncEnumerableExTests.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/AsyncEnumerableTests.cs
Due: azure-pipelines.ix.yml

code coverage
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Add typeforwarders for copied framework types
  Ix.NET/Source/System.Linq.Async/System/Collections/Generic/IAsyncEnumerable.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Generic/IAsyncEnumerator.cs
  Ix.NET/Source/System.Linq.Async/System/IAsyncDisposable.cs
  Ix.NET/Source/System.Linq.Async/System/Runtime/CompilerServices/ConfiguredCancelableAsyncEnumerable.cs
Due: azure-pipelines.ix.yml

Add shim for code that's moved to TaskExtensions
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Buffer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Catch.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Defer.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Expand.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Finally.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/IgnoreElements.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Repeat.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Using.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerableHelpers.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Aggregate.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/All.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Any.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/AppendPrepend.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Concat.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Contains.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Count.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ElementAt.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ElementAtOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Except.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ForEach.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Intersect.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LastOrDefault.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/LongCount.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Lookup.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Select.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Sum.Generated.tt
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/TakeWhile.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToList.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Utilities.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Where.cs
  Ix.NET/Source/System.Linq.Async/System/Threading/Tasks/AsyncEnumerableExtensions.cs
Due: azure-pipelines.ix.yml

Add a reference assembly to hide the methods we're carrying internally in the 2.1/3.0 lib
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Threading/Tasks/AsyncEnumerableExtensions.cs
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
Due: azure-pipelines.ix.yml

add explicit restore step
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Remove unused reference assemblies
  Ix.NET/Source/refs/System.Interactive.Async.Providers.Ref/System.Interactive.Async.Providers.Ref.csproj
  Ix.NET/Source/refs/System.Interactive.Async.Ref/System.Interactive.Async.Ref.csproj
  Ix.NET/Source/refs/System.Linq.Async.Queryable.Ref/System.Linq.Async.Queryable.Ref.csproj
Due: azure-pipelines.ix.yml

Use latest extras
  Ix.NET/Source/global.json
Due: azure-pipelines.ix.yml

Use license expression and fix icon
  Ix.NET/Source/Directory.build.props
Due: azure-pipelines.ix.yml

Update icon url and use package licence expression
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

Use latest extras
  Rx.NET/Source/global.json
Due: azure-pipelines.rx.yml

Update test deps
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Build with latest SDK
  Rx.NET/Source/System.Reactive.sln
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Restore ppdb workaround
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

bump ver
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Disable code coverage for now given that it's flaky
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Update valuetuple dependency
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Add code coverage with coverlet
  .gitignore
  Ix.NET/Source/Directory.build.props
  Ix.NET/Source/Directory.build.targets
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Remove netcoreapp3.0 target
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
Due: azure-pipelines.ix.yml

Clean projects to force a rebuild for tests
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Clean
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Disable strong name verification for coverage to work
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

try moving strong name disable to the beginning
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

clean then restore for tests
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Don't collect coverage on net framework until strong name issue can be resolved
  Ix.NET/Source/Directory.build.targets
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Enable coverage of .net framework
  Ix.NET/Source/Directory.build.targets
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

upload code coverage to codecov
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

add codecov config
  codecov.yml
Due: none

specify flag for codecov
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

fix flag parameter
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Add support for configured disposing
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Amb.cs
  Ix.NET/Source/System.Linq.Async/System/Runtime/CompilerServices/ConfiguredAsyncDisposable.cs
  Ix.NET/Source/System.Linq.Async/System/Threading/Tasks/AsyncEnumerableExtensions.cs
Due: azure-pipelines.ix.yml

use default pdb in debug mode for code coverage to work in VS
  Ix.NET/Source/Directory.build.props
Due: azure-pipelines.ix.yml

AggregateAsync code coverage.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Aggregate.cs
Due: azure-pipelines.ix.yml

Add in AsyncIteratorMethodBuilder to support the async iterators on downlevel platforms
  Ix.NET/Source/System.Interactive.Async.Providers/Reflection.cs
  Ix.NET/Source/System.Linq.Async.Queryable/Reflection.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncEnumerableQuery.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncEnumerableRewriter.cs
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System/Runtime/CompilerServices/AsyncIteratorMethodBuilder.cs
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
Due: azure-pipelines.ix.yml

Remove a dependency on System.Threading.Tasks.Extensions when targeting .NET Core 3 as it's not required
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
Due: azure-pipelines.ix.yml

Clean up AggregateAsync tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Aggregate.cs
Due: azure-pipelines.ix.yml
