Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.asyncrx.yml, azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.asyncrx.yml: any of: AsyncRx.NET, .editorconfig, azure-pipelines.asyncrx.yml
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Update 09_CombiningSequences.md
  Rx.NET/Documentation/IntroToRx/09_CombiningSequences.md
Due: none

Update 09_CombiningSequences.md (#2087)
  Rx.NET/Documentation/IntroToRx/09_CombiningSequences.md
Due: none

Fix the code example of RxFsEvents
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none

Fix typo
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
Due: none

Update 11_SchedulingAndThreading.md
  Rx.NET/Documentation/IntroToRx/11_SchedulingAndThreading.md
Due: none

Typo in Update 07_Aggregation.md (#2079)
  Rx.NET/Documentation/IntroToRx/07_Aggregation.md
Due: none

Fix for #2076 - Update Slack link (#2083)
  README.md
Due: none

IntroToRx fixes (#2088)
  Rx.NET/Documentation/IntroToRx/03_CreatingObservableSequences.md
  Rx.NET/Documentation/IntroToRx/11_SchedulingAndThreading.md
Due: none

Add benchmark to measure slow GroupBy/SelectMany completion
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/GroupByCompletion.cs
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Program.cs
Due: azure-pipelines.rx.yml

Add large mode to CompositeDisposable
  Rx.NET/Source/src/System.Reactive/Disposables/CompositeDisposable.cs
Due: azure-pipelines.rx.yml

xx
  AsyncRx.NET/.vscode/c_cpp_properties.json
  AsyncRx.NET/.vscode/launch.json
  AsyncRx.NET/.vscode/settings.json
Due: azure-pipelines.asyncrx.yml

C
  .reef/vscode_dbgport
  .reef/vscode_lsport
  .vscode/settings.json
Due: none

Remove TODO about shrinking
  Rx.NET/Source/src/System.Reactive/Disposables/CompositeDisposable.cs
Due: azure-pipelines.rx.yml

Add comments and tidy up benchmark code
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/GroupByCompletion.cs
Due: azure-pipelines.rx.yml

add select clause so example code compiles
  README.md
Due: none

Fix typo in 01_WhyRx.md
  Rx.NET/Documentation/IntroToRx/01_WhyRx.md
Due: none

Fix typo in 01_WhyRx.md (#2098)
  Rx.NET/Documentation/IntroToRx/01_WhyRx.md
Due: none

add select clause so example code compiles (#2097)
  README.md
Due: none

Feature/2005 large composite disposable perf (#2092)
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/GroupByCompletion.cs
  Rx.NET/Source/benchmarks/Benchmarks.System.Reactive/Program.cs
  Rx.NET/Source/src/System.Reactive/Disposables/CompositeDisposable.cs
Due: azure-pipelines.rx.yml

Update test packages
  Rx.NET/Source/CodeCoverage.runsettings
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner_TemporaryKey.pfx
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update test packages (#2101)
  Rx.NET/Source/CodeCoverage.runsettings
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Tests.System.Reactive.ApiApprovals.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner_TemporaryKey.pfx
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

Draft proposal for moving async LINQ to BCL
  Ix.NET/Documentation/adr/0001-async-linq-to-bcl.md
Due: none

Update after Stephen Toub's feedback
  Ix.NET/Documentation/adr/0001-async-linq-to-bcl.md
Due: none

Float version
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Remove dynamic load of QueryDebugger (#1968)
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
  Rx.NET/Source/src/System.Reactive/Internal/CurrentPlatformEnlightenmentProvider.cs
Due: azure-pipelines.rx.yml

Clear sync context on test that requires it to be absent (#2026)
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskLikeSupportTest.cs
Due: azure-pipelines.rx.yml

Run tests on .NET 8.0 (#2039)
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ToLookupTest.cs
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Adjust version offset
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Add rx 6.0.1 release notes, and document release process
  Rx.NET/Documentation/ReleaseHistory/ReleaseProcess.md
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Add rx 6.0.1 release notes, and document release process (#2113)
  Rx.NET/Documentation/ReleaseHistory/ReleaseProcess.md
  Rx.NET/Documentation/ReleaseHistory/Rx.v6.md
Due: none

Fix Union Dispose bug #2112
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Union.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Union.cs
Due: azure-pipelines.ix.yml
