Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

remove broken link (ruby implementation)
  README.md
Due: none

Fix a race condition in ToAsyncEnumerable on cancellation - https://github.com/dotnet/reactive/issues/1726
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
Due: azure-pipelines.ix.yml

Add 2023 roadmap, and tooling update ADR
  Rx.NET/Documentation/RX-Platform-Support-Roadmap.png
  Rx.NET/Documentation/Rx-Roadmap-2023.md
  Rx.NET/Documentation/adr/0001-net7.0-era-tooling-update.md
Due: none

Fix typo (Unit -> Unity)
  Rx.NET/Documentation/Rx-Roadmap-2023.md
Due: none

Revise Rx/RxAsync relationship after feedback
  Rx.NET/Documentation/Rx-Roadmap-2023.md
Due: none

Upgrade to supported TFMs and SDK versions
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/Internal/ReflectionUtils.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/FromEventPattern.cs
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.net5.0-windows.targets
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.targets
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Package.appxmanifest
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner_TemporaryKey.pfx
  Rx.NET/Source/tests/Tests.System.Reactive/DispatcherHelpers.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Change build agent pool to windows-latest
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Put pipeline VM image name under correct property
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Add missing file from System.Reactive/build
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.net6.0-windows.targets
Due: azure-pipelines.rx.yml

Set net6.0 and net7.0 TFMs in integration tests
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Change uap10.0.16299 to uap10.0.18362
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/facades/System.Reactive.Core/System.Reactive.Core.csproj
  Rx.NET/Source/facades/System.Reactive.Interfaces/System.Reactive.Interfaces.csproj
  Rx.NET/Source/facades/System.Reactive.Linq/System.Reactive.Linq.csproj
  Rx.NET/Source/facades/System.Reactive.PlatformServices/System.Reactive.PlatformServices.csproj
  Rx.NET/Source/facades/System.Reactive.Providers/System.Reactive.Providers.csproj
  Rx.NET/Source/facades/System.Reactive.Windows.Threading/System.Reactive.Windows.Threading.csproj
  Rx.NET/Source/facades/System.Reactive.WindowsRuntime/System.Reactive.WindowsRuntime.csproj
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Reflect decision that v.next will be v6.0 not v5.1
  Rx.NET/Documentation/Rx-Roadmap-2023.md
Due: none

Update package refs in integration tests
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Reinstate LicenseHeaderTest
  Rx.NET/Source/tests/Tests.System.Reactive.Uwp.DeviceRunner/Tests.System.Reactive.Uwp.DeviceRunner.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/LicenseHeaderTest.cs
Due: azure-pipelines.rx.yml

Reinstate more disabled tests
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/ForEachAsyncTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskLikeSupportTest.cs
Due: azure-pipelines.rx.yml

Set up SynchronizationContext for tests that seem to need it
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskLikeSupportTest.cs
Due: azure-pipelines.rx.yml

Revert last SynchronizationContext changes and ignore tests
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
Due: azure-pipelines.rx.yml

Set vnext to 6.0 and add versioning ADR
  Rx.NET/Documentation/adr/0002-versioning-policy.md
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Fix a nonesense sentence in the ADR
  Rx.NET/Documentation/adr/0002-versioning-policy.md
Due: none

Set Rx vnext to 6.0 and add versioning ADR (#1886)
  Rx.NET/Documentation/adr/0002-versioning-policy.md
  Rx.NET/Source/version.json
Due: azure-pipelines.rx.yml

Add build pipeline for AsyncRx.NET
  AsyncRx.NET/Directory.build.props
  AsyncRx.NET/version.json
  azure-pipelines.asyncrx.yml
Due: none

Add missing signclient.json
  AsyncRx.NET/build/signclient.json
Due: none

Add step to publish AsyncRx.NET artifacts
  azure-pipelines.asyncrx.yml
Due: none

Disable packaging for projects not intended for NuGet
  AsyncRx.NET/ApiCompare/ApiCompare.csproj
  AsyncRx.NET/Playground/Playground.csproj
Due: none

Update ApiCompare and Playground to net6.0
  AsyncRx.NET/ApiCompare/ApiCompare.csproj
  AsyncRx.NET/Playground/Playground.csproj
Due: none

Add AsyncRx.NET build pipeline (#1888)
  AsyncRx.NET/ApiCompare/ApiCompare.csproj
  AsyncRx.NET/Directory.build.props
  AsyncRx.NET/Playground/Playground.csproj
  AsyncRx.NET/build/signclient.json
  AsyncRx.NET/version.json
  azure-pipelines.asyncrx.yml
Due: none

Add AsyncRx.NET package unification ADR
  AsyncRx.NET/Documentation/adr/0001-package-unification.md
Due: none

Merge System.Reactive.Interfaces into System.Reactive.Async
  AsyncRx.NET/AsyncRx.NET.sln
  AsyncRx.NET/System.Reactive.Async.Interfaces/System.Reactive.Async.Interfaces.csproj
  AsyncRx.NET/System.Reactive.Async/Concurrency/IAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/IClock.cs
  AsyncRx.NET/System.Reactive.Async/IAsyncObservable.cs
  AsyncRx.NET/System.Reactive.Async/IAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Internal/EventPatternSource.cs
  AsyncRx.NET/System.Reactive.Async/Internal/EventPatternSourceBaseInternal.cs
  AsyncRx.NET/System.Reactive.Async/Linq/IGroupedAsyncObservable.cs
  AsyncRx.NET/System.Reactive.Async/NotificationAsyncExtensions.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/IAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/IConnectableAsyncObservable.cs
  AsyncRx.NET/System.Reactive.Async/System.Reactive.Async.csproj
Due: none

Fix compiler diagnostics in AsyncRx.NET
  AsyncRx.NET/ApiCompare/Program.cs
  AsyncRx.NET/Playground/Program.cs
  AsyncRx.NET/System.Reactive.Async/AsyncObservableBase.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/AsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/AsyncSchedulerBase.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/ImmediateAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/SynchronizationContextAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/TaskPoolAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Disposables/CompositeAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async/Disposables/RefCountAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async/Disposables/SerialAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async/Internal/AsyncQueueLockAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Internal/EventPatternSourceBaseInternal.cs
  AsyncRx.NET/System.Reactive.Async/Internal/EventSource.cs
  AsyncRx.NET/System.Reactive.Async/Internal/FastImmediateAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Internal/Lookup.cs
  AsyncRx.NET/System.Reactive.Async/Internal/ScheduledAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Internal/ScheduledAsyncObserverBase.cs
  AsyncRx.NET/System.Reactive.Async/Internal/UnsafeAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Joins/ActiveAsyncPlan.cs
  AsyncRx.NET/System.Reactive.Async/Joins/AsyncJoinObserver.cs
  AsyncRx.NET/System.Reactive.Async/Runtime/CompilerServices/AsyncMethodBuilderAttribute.cs
  AsyncRx.NET/System.Reactive.Async/Runtime/CompilerServices/AsyncObservableMethodBuilder.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/AsyncAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/BehaviorAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ConcurrentAsyncAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ConcurrentBehaviorAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ConcurrentSimpleAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ConnectableAsyncObservable.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ReplayAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/SimpleAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncGate.cs
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncQueueLock.cs
  AsyncRx.NET/System.Reactive.Async/Threading/Tasks/TaskAwaitable.cs
  AsyncRx.NET/System.Reactive.Async/Threading/Tasks/ValueTaskAwaitable.cs
Due: none

Fix compiler diagnostics in AsyncRx.NET (#1899)
  AsyncRx.NET/ApiCompare/Program.cs
  AsyncRx.NET/Playground/Program.cs
  AsyncRx.NET/System.Reactive.Async/AsyncObservableBase.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/AsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/AsyncSchedulerBase.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/ImmediateAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/SynchronizationContextAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Concurrency/TaskPoolAsyncScheduler.cs
  AsyncRx.NET/System.Reactive.Async/Disposables/CompositeAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async/Disposables/RefCountAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async/Disposables/SerialAsyncDisposable.cs
  AsyncRx.NET/System.Reactive.Async/Internal/AsyncQueueLockAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Internal/EventPatternSourceBaseInternal.cs
  AsyncRx.NET/System.Reactive.Async/Internal/EventSource.cs
  AsyncRx.NET/System.Reactive.Async/Internal/FastImmediateAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Internal/Lookup.cs
  AsyncRx.NET/System.Reactive.Async/Internal/ScheduledAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Internal/ScheduledAsyncObserverBase.cs
  AsyncRx.NET/System.Reactive.Async/Internal/UnsafeAsyncObserver.cs
  AsyncRx.NET/System.Reactive.Async/Joins/ActiveAsyncPlan.cs
  AsyncRx.NET/System.Reactive.Async/Joins/AsyncJoinObserver.cs
  AsyncRx.NET/System.Reactive.Async/Runtime/CompilerServices/AsyncMethodBuilderAttribute.cs
  AsyncRx.NET/System.Reactive.Async/Runtime/CompilerServices/AsyncObservableMethodBuilder.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/AsyncAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/BehaviorAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ConcurrentAsyncAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ConcurrentBehaviorAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ConcurrentSimpleAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ConnectableAsyncObservable.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/ReplayAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Subjects/SimpleAsyncSubject.cs
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncGate.cs
  AsyncRx.NET/System.Reactive.Async/Threading/AsyncQueueLock.cs
  AsyncRx.NET/System.Reactive.Async/Threading/Tasks/TaskAwaitable.cs
  AsyncRx.NET/System.Reactive.Async/Threading/Tasks/ValueTaskAwaitable.cs
Due: none

Back out #1449
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.net6.0-windows.targets
Due: azure-pipelines.rx.yml

Back out #1449 (#1901)
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.net6.0-windows.targets
Due: azure-pipelines.rx.yml

Try enabling verbose output in test
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Put verbosity setting on correct task this time
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Run Basics with and without SynchronizationContext
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Concurrency/EventLoopSchedulerTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskLikeSupportTest.cs
Due: azure-pipelines.rx.yml

Add timeouts to test config
  Rx.NET/Source/CodeCoverage.runsettings
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/CreateAsyncTest.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/TaskLikeSupportTest.cs
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml
