Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Include icon in package & fix a couple warnings
  Ix.NET/Source/Directory.Build.props
  Ix.NET/Source/Ix.NET.sln
  Ix.NET/Source/System.Linq.Async/System/Linq/Maybe.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SingleLinkedNode.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToAsyncEnumerable.Observable.cs
Due: azure-pipelines.ix.yml

remove pre-release marker
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

bump version
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Update Observable.Single.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable.Single.cs
Due: azure-pipelines.rx.yml

Update dependency condition
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

Update System.Linq.Async.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
Due: azure-pipelines.ix.yml

SubjectDisposable.Observer can never be null
  Rx.NET/Source/src/System.Reactive/Subjects/Subject.cs
Due: azure-pipelines.rx.yml

Change master to main into PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add .net 6.0 to build targets
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Add a "ChunkAsync" extension method for IAsyncEnumerable
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Chunk.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Chunk.cs
Due: azure-pipelines.ix.yml

try updating pool
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

update vmimage
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

fix tests
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

try fixing tests
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

fix tests
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

fix build
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

fix tests
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix bug in SkipLast(0) for custom sequence (try to dequeue from empty queue)
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
Due: azure-pipelines.ix.yml

Better fix for IAsyncEnumerable.SkipLast, match algorithm of IEnumerable.SkipLast
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
Due: azure-pipelines.ix.yml

Restore configureAwait false
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
Due: azure-pipelines.ix.yml

Correct .Scan() to use matching behavior
  Ix.NET/Source/System.Interactive.Async.Tests/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Scan.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Scan.cs
Due: azure-pipelines.ix.yml

Optimize AsyncEnumerable.ChunkAsync
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Chunk.cs
Due: azure-pipelines.ix.yml

(PR review) Revert change to SkipLast.Core + add Wrap method which actually hides an async sequence identity
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Wrap.cs
Due: azure-pipelines.ix.yml

Update azure-pipelines.rx.yml
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

verbose
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

try again
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

revert
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

start over
  Rx.NET/Source/src/Microsoft.Reactive.Testing/Microsoft.Reactive.Testing.csproj
  Rx.NET/Source/src/System.Reactive.Observable.Aliases/System.Reactive.Observable.Aliases.csproj
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
Due: azure-pipelines.rx.yml

start over
  Rx.NET/Source/tests/Tests.System.Reactive/Tests.System.Reactive.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

baseline
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml
